﻿
@{
    ViewBag.Title = "MatchView";
     Layout = "~/Views/Shared/_LayoutGentelella.cshtml";
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Match Details</title>
    <link href="~/Content/DataTables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="~/Scripts/alertify.js-0.3.11/themes/alertify.core.css" rel="stylesheet" />
    <link href="~/Scripts/alertify.js-0.3.11/themes/alertify.default.css" rel="stylesheet" />
    <style>
        .error {
            color: red;
        }

        .dataTables_wrapper {
            color: black;
            font-size: 13px;
        }
    </style>
</head>
<body>
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Match Details</h3>

                </div>
            </div>

            <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
            <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
            <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/r-2.2.0/datatables.min.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="~/Scripts/alertify.js-0.3.11/src/alertify.js"></script>

            <div class="tablecontainer" style="width:100%; margin: 0 auto;">
                <table id="myDatatable" class="table table-striped table-bordered display nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Match ID</th>
                            <th>Match Date</th>
                            <th>Team</th>
                            <th>Opponent Team</th>
                            <th>Toss Winner</th>
                            <th>Match Winner</th>
                            <th>First Umpire</th>
                            <th>Second Umpire</th>
                            <th>Man of the Match</th>
                            <th>City</th>
                            <th>Venue</th>
                            <th>Country</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <!-- / Page Content-->

    <script>

        $(document).ready(function () {

            var bootstrapButton = $.fn.button.noConflict() // return $.fn.button to previously assigned value
            $.fn.bootstrapBtn = bootstrapButton            // give $().bootstrapBtn the Bootstrap functionality

            var oTable = $('#myDatatable').DataTable({
                //"scrollX": true,
                responsive: true,

                "ajax": {
                    "url": '@Url.Action("GetMatches")',
                    "type": "get",
                    "datatype": "json"
                },

                "columns": [
                    { "data": "match_id", "name": "match_id", "width": "10px" },

                    {
                        "data": "match_date", "name": "match_date", "autoWidth": true,
                        "render": function (jsonDate) {
                            var date = new Date(parseInt(jsonDate.substr(6)));
                            var month = date.getMonth() + 1;
                            //var time = date.toLocaleTimeString();
                            return date.getDate() + "/" + month + "/" + date.getFullYear();
                        } //end of render
                    },


                    { "data": "team", "name": "team_name", "autoWidth": true },

                    { "data": "opponent", "name": "team_name", "autoWidth": true },

                    { "data": "toss", "name": "team_name", "autoWidth": true },

                    { "data": "winner", "name": "team_name", "autoWidth": true },

                    { "data": "first_umpire", "name": "umpire_name", "autoWidth": true },

                    { "data": "second_umpire", "name": "umpire_name", "autoWidth": true },

                    { "data": "man", "name": "player_name", "autoWidth": true },

                    { "data": "city", "name": "city_name", "autoWidth": true },

                    { "data": "venue", "name": "venue_name", "autoWidth": true },

                    { "data": "country", "name": "country_name", "autoWidth": true }
                ],

                "columnDefs": [{
                    "targets": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
                    "orderable": false
                },
                {
                    "targets": [0],
                    "visible": false
                }
                ]

            });
        });
    </script>


</body>

</html>
