﻿@model IPLAuction.Models.player_skills

@using (Html.BeginForm("Save", "PlayerSkills", FormMethod.Post, new { id = "popupForm" }))
{
    if (Model != null && Model.player_skill_id > 0)
    {
        <h2>Edit Player Skills</h2>
        @Html.HiddenFor(a=>a.player_skill_id)

        <div class="form-group">
            <label>Player Name</label>
            @Html.TextBox("txtPlayerName", (string)TempData["skills_player_name"],new { @class = "form-control", @readonly = "readonly" })
        </div>

        
        <div class="form-group">
            <label>Batting Style</label>
            @Html.TextBox("txtBatting", (string)TempData["skills_batting_style"], new { @class = "form-control", @readonly = "readonly" })
        </div>

        <div class="form-group">
            <label>Batting Star</label>
            @Html.TextBoxFor(a => a.player_batting_star, new { @class = "form-control", @type = "number", @min="1", @max="5" })
        </div>


        <div class="form-group">
            <label>Bowling Style</label>
            @Html.TextBox("txtBowling", (string)TempData["skills_bowling_style"], new { @class = "form-control", @readonly = "readonly" })
        </div>

        <div class="form-group">
            <label>Bowling Star</label>
            @Html.TextBoxFor(a => a.player_bowling_star, new { @class = "form-control", @type = "number", @min = "1", @max = "5" })
        </div>

        <div class="form-group">
            <label>Base Price</label>
            @Html.TextBoxFor(a => a.player_base_price, new { @class = "form-control", @type = "number", @min = "50000", @max = "300000", @id="base" })
        </div>


        <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button type="reset" class="btn btn-primary">Cancel</button>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>

                <script type="text/javascript">
                    $(document).on('click', '.btn-success', function () {
                        var base = $('#base').val();
                        if (base < 50000) {
                            alertify.error("Minimum Base Fare Price is 50,000!");
                            return false;
                        }
                    });
                    </script>
    }

}
