﻿
@{
    ViewBag.Title = "ViewPlayerSkills";
     Layout = "~/Views/Shared/_LayoutGentelella.cshtml";
}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Player Skills View</title>
    <link href="~/Content/DataTables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="~/Scripts/alertify.js-0.3.11/themes/alertify.core.css" rel="stylesheet" />
    <link href="~/Scripts/alertify.js-0.3.11/themes/alertify.default.css" rel="stylesheet" />
    <style>
        .player {
            font-size: 0;
            display: none;
        }

        .playerImage {
            width: 100px;
        }
        .error {
            color: red;
        }

        .dataTables_wrapper {
            color: black;
            font-size: 13px;
        }
    </style>
</head>
<body>
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Player Skills</h3>
                </div>
            </div>
           

            <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
            <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
            <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/r-2.2.0/datatables.min.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="~/Scripts/alertify.js-0.3.11/src/alertify.js"></script>
           

            <div class="tablecontainer" style="width:100%; margin: 0 auto;">
                <table id="myDatatable" class="table table-striped table-bordered" cellspacing="0" width="100%">

                    <thead>
                        <tr>
                            <th>Player Image</th>
                            <th>Player Name</th>
                            <th>Batting Style</th>
                            <th>Batting Star</th>
                            <th>Bowling Style</th>
                            <th>Bowling Star</th>
                            <th>Base Price</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <!-- / Page Content-->

    <script>

        $(document).ready(function () {
            var bootstrapButton = $.fn.button.noConflict() // return $.fn.button to previously assigned value
            $.fn.bootstrapBtn = bootstrapButton            // give $().bootstrapBtn the Bootstrap functionality

            var oTable = $('#myDatatable').DataTable({
                responsive: true,

                "ajax": {
                    "url": '/PlayerSkills/GetPlayers',
                    "type": "get",
                    "datatype": "json"
                },
                "aLengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
                "iDisplayLength": 25,
                "columns": [
                    {
                        "data": "player_image", "name": "player_name", "autoWidth": true,

                        "render": function (data) {
                            return '<img src="' + data + '" class="playerImage" />';
                        }
                    },
                    { "data": "player_name", "name": "player_name", "autoWidth": true, "searchable": true },
                    { "data": "batting_id", "name": "batting_style", "autoWidth": true },
                    { "data": "batting_star", "name": "player_batting_star", "autoWidth": false },
                    { "data": "bowling_id", "name": "bowling_skill", "autoWidth": true },
                    { "data": "bowling_star", "name": "player_bowling_star", "autoWidth": false },
                    { "data": "player_base_price", "name": "player_base_price", "autoWidth": true },
                    {

                        "data": "player_skill_id", "width": "50px", "render": function (data) {
                            return '<a class="popup" href="/PlayerSkills/Save/' + data + '">Edit</a>';
                        }
                    },
                ],
                "columnDefs": [{
                    "targets": [0, 1, 3, 6],
                    "orderable": false
                }]
            });


            $('.tablecontainer').on('click', 'a.popup', function (e) {

                e.preventDefault();
                OpenPopup($(this).attr('href'));
            })
            function OpenPopup(pageUrl) {

                var $pageContent = $('<div/>');
                $pageContent.load(pageUrl, function () {
                    $('#popupForm', $pageContent).removeData('validator');
                    $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');
                });

                $dialog = $('<div class = "popupWindow" style="overflow:auto;"></div>')
                    .html($pageContent)
                    .dialog({
                        draggable: false,
                        autoOpen: false,
                        resizable: false,
                        model: true,
                        title: 'Player Skills',
                        height: 550,
                        width: 600,
                        close: function () {
                            $dialog.dialog('destroy').remove();
                        }
                    })

                $('.popupWindow').on('submit', '#popupForm', function (e) {

                    var url = $('#popupForm')[0].action;
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $('#popupForm').serialize(),
                        success: function (data) {
                            $dialog.dialog('close');
                            alertify.success("Updated successfully!");
                                oTable.ajax.reload();
                        }
                    })
                    e.preventDefault();
                })
                $(document).on('click', 'a.popup', function () {
                    $dialog.dialog('open');

                });
               
            }
        });
    </script>

</body>

</html>
