﻿@model IPLAuction.Models.Extended.user_masterMetaData
@{
    ViewBag.Title = "ProfileView";
     Layout = "~/Views/Shared/_LayoutGentelella.cshtml";
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Administrator Profile</title>
    <link href="~/Content/css/icheck/flat/green.css" rel="stylesheet">
    <link href="~/Scripts/alertify.js-0.3.11/themes/alertify.core.css" rel="stylesheet" />
    <link href="~/Scripts/alertify.js-0.3.11/themes/alertify.default.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script>
    <script src="~/Scripts/alertify.js-0.3.11/src/alertify.js"></script>
    <link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>

    @if (TempData["error"] != null)
    {
        <script type="text/javascript">
            alertify.error("@TempData["error"]");
        </script>
    }

    @if (TempData["length_error"] != null)
    {
        <script type="text/javascript">
            alertify.error("@TempData["length_error"]");
           // alert("@TempData["error"]");
        </script>
    }

    @if (TempData["message"] != null)
    {
        <script type="text/javascript">
              alertify.error("@TempData["message"]");
        </script>
    }

    @if (TempData["success"] != null)
    {
        <script type="text/javascript">
              alertify.error("@TempData["success"]");
        </script>
    }

    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">

            <div class="page-title">
                <div class="title_left">
                    <h3>Profile</h3>
                </div>
            </div>

            @using (Html.BeginForm("ProfileView", "Profile",
                FormMethod.Post,
                 new { enctype = "multipart/form-data", @class = "form-horizontal form-label-left", style = "margin-right:200px; margin-top:60px;" }))

            {
                <div class="profile" style="position: absolute;
    width: 35%;
    right: 80px;">
                    <div class="profile_pic">
                        <img src="@Url.Content((string)TempData["user_image"])" alt="Profile Pic" class="img-responsive profile_img" />
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(a => a.user_name, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.TextBox("txtName",(string)ViewBag.user_name, new { @class = "form-control col-md-7 col-xs-12", type = "text", @readonly = "readonly" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(a => a.user_email, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.TextBox("txtEmail", (string)ViewBag.user_email, new { @class = "form-control col-md-7 col-xs-12", type = "email", @readonly = "readonly" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(a => a.user_type, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.TextBox("txtType", (string)ViewBag.user_type, new { @class = "form-control col-md-7 col-xs-12", type = "text", @readonly = "readonly" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(a => a.user_image, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <input type="file" name="fileUpload" class="form-control col-md-7 col-xs-12" />

                    </div>
                </div>

                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button type="submit" class="btn btn-success">Update</button>
                        <button id="btnUpdatePwd" type="button" class="btn btn-success" style="background-color:transparent; border-style:none; color:black;">Update Password</button>
                    </div>
                </div>
            }

            @using (Html.BeginForm("UpdatePassword", "Profile", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="modal fade" tabindex="-1" id="updateModal"
                     data-keyboard="false" data-backdrop="static">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">
                                    ×
                                </button>
                                <h4 class="modal-title">Update Password</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <input class="form-control" type="password"
                                               placeholder="Current Password" name="txtCurrentPassword" required="required" />
                                       
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="password"
                                               placeholder="New Password" name="txtNewPassword" required="required" />
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="password"
                                               placeholder="Re-enter new password" name="txtReNewPassword" required="required" />
                                       
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button id="btnUpdate" type="submit" class="btn btn-info btn-xs">Update Password</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <script src="~/Content/js/bootstrap.min.js"></script>
            <script type="text/javascript">

                $(document).ready(function () {
                    $("#btnUpdatePwd").click(function () {
                        $("#updateModal").modal('show');
                    });

                });

            </script>
</div>
</div>


</body>
</html>