﻿@model IPLAuction.Models.user_master
@using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { id = "popupForm" }))
{
  
        <div class="form-group">
            <div class="col-md-4 col-sm-4 col-xs-6">
                <input class="form-control" type="email" placeholder="Enter Registered Email" name="txtEmail" required="required" autocomplete="off" />
            </div>
        </div>
        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
        
}

