﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/Content/website_images/favicon.ico" type="image/ico" />
    <title>IPL Auction Login</title>
    <!-- Bootstrap core CSS -->

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/Content/fonts/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/animate.min.css" rel="stylesheet">
    <link href="~/Scripts/alertify.js-0.3.11/themes/alertify.core.css" rel="stylesheet" />
    <link href="~/Scripts/alertify.js-0.3.11/themes/alertify.default.css" rel="stylesheet" />


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script>
    <script src="~/Scripts/alertify.js-0.3.11/src/alertify.js"></script>

    <!-- Custom styling plus plugins -->
    <link href="~/Content/css/custom.css" rel="stylesheet">
    <link href="~/Content/css/icheck/flat/green.css" rel="stylesheet">

    <script src="~/Content/js/jquery.min.js"></script>
</head>
<body style="background:#F7F7F7;">

    @if (TempData["message"] != null)
    {
        <script type="text/javascript">
              alertify.error("@TempData["message"]");
        </script>
    }

    @if (TempData["success"] != null)
    {
        <script type="text/javascript">
              alertify.error("@TempData["success"]");
        </script>
    }


    <div class="">

        <div id="wrapper">
            <div id="login" class="animate form">
                <div style="margin-left:50px;">
                    <h1><img src="~/Content/images/bat-icon.png" style="width:30px;" /> IPL Auction </h1>
                </div>
                @if (ViewBag.Error == true)
                {
                    <script type="text/javascript">
                        alertify.error("Not registered");
                    </script>
                }

                @if (ViewBag.Error == false)
                {
                    <script type="text/javascript">
                        alertify.success("Sent");
                    </script>
                }
                <section class="login_content">

                    @using (Html.BeginForm("IPL_Login", "Login", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)


                        <h1>Login</h1>
                        <div>
                            <input type="email" class="form-control" placeholder="Email" required="required" name="txtEmail" autocomplete="off" />
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Password" required="required" name="txtPassword" />
                            @if (TempData["login_success"].Equals(false))
                            {
                                <div class="alert alert-error alert-dismissable fade in" style="font-family:Consolas; background-color:transparent">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close" style="    position: relative;top: -25px;right: -45px;color: inherit;">&times;</a>
                                    <code>Error! Invalid email or password</code>
                                </div>

                            }

                            @if (TempData["team_login_success"].Equals(false))
                            {
                                <div class="alert alert-error alert-dismissable fade in" style="font-family:Consolas; background-color:transparent">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close" style="    position: relative;top: -25px;right: -45px;color: inherit;">&times;</a>
                                    <code>Inactive Team! Contact Administrator for further assitance</code>
                                </div>

                            }
                        </div>

                        <div>
                            <button type="submit" class="btn btn-primary btn-lg">Log in</button>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">

                            <p class="change_link">
                                <button id="btnForgotPwd" type="button" class="btn btn-info btn-xs" style="background-color:transparent; border-style:none; color:black;">Forgot Password?</button>
                            </p>
                            <div class="clearfix"></div>
                            <br />
                            <div>

                                <p>©2017 All Rights Reserved. <a href="http://www.iplt20.com/about/terms-and-conditions/terms-of-use">Privacy and Terms</a></p>
                            </div>
                        </div>

                    <!-- form -->
                    }




                </section>
                <!-- content -->

            </div>
        </div>
    </div>
    @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post))
            {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="modal fade" tabindex="-1" id="updateModal"
             data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            ×
                        </button>
                        <h4 class="modal-title">Update Password</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <input class="form-control" type="email" placeholder="Enter Registered Email" name="txtEmail" required="required" autocomplete="off" />
                        </form>
                    </div>
                    <div class="modal-footer">
                     <button id="btnRequest" type="submit" class="btn btn-info btn-xs">Request Password</button>
                    </div>
                </div>
            </div>
        </div>
    }
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script type="text/javascript">
                        $().ready(function () {
                            if (document.referrer != 'http://localhost:58515/') {
                                history.pushState(null, null, 'login');
                                window.addEventListener('popstate', function () {
                                    history.pushState(null, null, 'login');
                                });
                            }
                        });

                        $(document).ready(function () {

                          
                            $("#btnForgotPwd").click(function () {
                                $("#updateModal").modal('show');
                            });

                        });

    </script>

</body>
</html>
