﻿@model IPLAuction.Models.Extended.user_masterMetaData
@{
    ViewBag.Title = "AddOwner";
     Layout = "~/Views/Shared/_LayoutGentelella.cshtml";
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Add New Owner</title>
    <link href="~/Content/css/icheck/flat/green.css" rel="stylesheet">
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

    <link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />
    <style>
        .error {
            color: #ef5350;
        }
    </style>

</head>
<body>
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">

            <div class="page-title">
                <div class="title_left">
                    <h3>New Owner</h3>
                </div>
            </div>

            @using (Html.BeginForm("AddOwner", "NewOwner",
                        FormMethod.Post,
                    new { enctype = "multipart/form-data", @class = "form-horizontal form-label-left", style = "margin-right:200px; margin-top:60px;" }))
            {
                <div class="form-group">
                    @Html.LabelFor(a => a.user_name, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.TextBoxFor(a => a.user_name, new { @class = "form-control col-md-7 col-xs-12", autocomplete = "off", required = "required" })
                        @Html.ValidationMessageFor(a => a.user_name, "", new { @class = "error" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(a => a.user_email, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.TextBoxFor(a => a.user_email, new { @class = "form-control col-md-7 col-xs-12", type = "email", autocomplete = "off", required = "required" })
                        @Html.ValidationMessageFor(a => a.user_email, "", new { @class = "error" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(a => a.user_password, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.TextBoxFor(a => a.user_password, new { @class = "form-control col-md-7 col-xs-12", type = "password", required = "required" })
                        @Html.ValidationMessageFor(a => a.user_password, "", new { @class = "error" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(a => a.user_type, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.RadioButtonFor(a => a.user_type, "Admin", new { @class = "flat" })
                        <label for="Admin">Administrator</label>
                        @Html.RadioButtonFor(a => a.user_type, "Owner", new { @class = "flat", @checked = "checked" })
                        <label for="Owner">Team Owner</label><br />
                        @Html.ValidationMessageFor(a => a.user_type, "", new { @class = "error" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(a => a.user_image, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <input type="file" name="fileUpload" class="form-control col-md-7 col-xs-12" , required="required" />
                    </div>
                </div>

                <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button type="reset" class="btn btn-primary">Cancel</button>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>

            }

            @if (ViewBag.Validate == false)
            {
                <div class="alert alert-error alert-dismissable fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Error!</strong> Owner with same email already exists!
                </div>
            }

            @if (ViewBag.Success == false)
            {
                <div class="alert alert-error alert-dismissable fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Error!</strong> Fill in the required details!
                </div>
            }

            @if (ViewBag.Added == true)
            {
                <div class="alert alert-info alert-dismissable fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success!</strong> New user was added successfully!
                </div>
            }

        </div>
    </div>
    <!-- / Page Content-->

</body>
</html>