﻿
@{
    ViewBag.Title = "TeamSquad";
    Layout = "~/Views/Shared/_LayoutGentelella.cshtml";
}
<style>
    .player {
        display: none;
    }
</style>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Player Details</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>


    <!--<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />-->
</head>
<body>
    <!-- page content -->

    <div class="right_col" role="main">

        <div class="page-title">
            <div class="title_left">
                @if (TempData["team_success"].Equals(true))
                {
                    <div class="alert alert-success alert-dismissable fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Success!</strong> New team added successfully, select squad
                    </div>

                    <div class="alert alert-info alert-dismissable fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Hint!</strong> CTRL + click to select multiple players
                    </div>

                }
                <div class="profile_pic" style="margin-top:15px;">
                    <img src="@ViewBag.team_image" alt="Team Logo" class="img-thumbnail profile_img" style="margin-top: 30px; margin-bottom: 20px;" />
                </div>
                <h3 style="position: absolute;">@TempData["team_name"]</h3>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" id="btn" style="margin-bottom:20px; margin-top:20px; float:right;">Finalize Squad</button>

        @*<a class="btn btn-default" id="btn" href="javascript:void(0);" style="margin-bottom:20px; margin-top:20px; float:right;">Finalize Squad</a>*@
        <table id="myDatatable" class="display" cellspacing="0">

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Player Name</th>
                    <th>Date Of Birth</th>
                    <th>Batting Style</th>
                    <th>Bowling Style</th>
                    <th>Batting Star</th>
                    <th>Bowling Star</th>
                    <th>Country</th>
                </tr>
            </thead>

        </table>
    </div>


    <!-- / Page Content-->

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.0/js/dataTables.buttons.min.js"></script>

    <script src="https://cdn.datatables.net/select/1.2.2/js/dataTables.select.min.js"></script>
    <script src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script>


    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.4.0/css/buttons.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.2/css/select.dataTables.min.css" />
    <link rel="stylesheet" href="https://editor.datatables.net/extensions/Editor/css/editor.dataTables.min.css" />

    <link type="text/css" href="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.9/css/dataTables.checkboxes.css" rel="stylesheet" />
    <script type="text/javascript" src="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.9/js/dataTables.checkboxes.min.js"></script>


    <script>

        $(document).ready(function () {

            var oTable = $('#myDatatable').DataTable({
                "searching": false,

                "ajax": {
                    "url": '/TeamSquad/GetPlayers',
                    "type": "get",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "player_id", "name": "player_id", "autoWidth": true, "className": "player"
                    },
                    { "data": "player_name", "name": "player_name", "autoWidth": true, "searchable": true },
                    {
                        "data": "player_dob", "name": "player_dob", "autoWidth": true,
                        "render": function (jsonDate) {
                            var date = new Date(parseInt(jsonDate.substr(6)));
                            var month = date.getMonth() + 1;
                            return date.getDate() + "/" + month + "/" + date.getFullYear();
                        }
                    },
                    { "data": "batting_id", "name": "batting_style", "autoWidth": true },
                    { "data": "bowling_id", "name": "bowling_skill", "autoWidth": true },
                    { "data": "batting_star", "name": "player_batting_star", "autoWidth": true },
                    { "data": "bowling_star", "name": "player_bowling_star", "autoWidth": true },
                    { "data": "country_name", "name": "country", "autoWidth": true, "searchable": true }
                ],
                'select': true,

                "columnDefs": [{
                    "targets": [0, 1, 2, 3, 4],
                    "orderable": false
                }]

            });

            $('#myDatatable tbody').on('click', 'tr', function () {

                $(this).toggleClass('selected');

            });

            $("#btn").click(function () {
                //alert(oTable.rows('.selected').data().length + 'row(s) selected');
                getData();
            });

            function getData() {
                var data = oTable.rows({ selected: true }).data();
                var newarray = [];
                for (var i = 0; i < data.length; i++) {
                    newarray.push(data[i].player_id);
                    //alert(JSON.stringify(newarray[i]));
                    // alert(newarray);

                }

                $.ajax({
                    type: 'post',
                    //cache: false,
                    data: { id: newarray },
                    url: "/TeamSquad/Finalize/",
                    //traditional: true,
                    success: function (data) {
                        alert("Squad Selection done");
                        window.location.href = '/NewTeam/AddNewTeam' // redirect to another page
                    },
                    error: function (data) {
                        alert("Some error occurred");
                    }
                });
            }
        });

    </script>
    @if (ViewBag.selection_failure == true)
            {
        <div class="alert alert-error alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!</strong> Select atleast 15 players!
        </div>
    }
</body>

</html>
