﻿@model IPLAuction.Models.season_master
<h2>Delete Season</h2>
@using (Html.BeginForm("Delete", "SeasonView", FormMethod.Post, new { id = "popupForm" }))
{


     @Html.HiddenFor(a => a.season_id)

        <div class="form-group">
            <label>Season Year</label>
            <p>@Model.season_year</p>
        </div>
        <div class="form-group">
            <label>Orange Cap</label>
            <p>@Model.orange_cap_player_id</p>
        </div>

        <div class="form-group">
            <label>Purple Cap</label>
            <p>@Model.purple_cap_player_id</p>
        </div>

        <div class="form-group">
            <label>Man of the series</label>
            <p>@Model.man_series_player_id</p>
        </div>

        <div class="form-group">
            <label>Sixes Count</label>
            <p>@Model.sixes_count</p>
        </div>

        <div>
            <input type="submit" value="Submit">
        </div>
}

