﻿@model IPLAuction.Models.season_master
<h2>Edit Season</h2>
@using (Html.BeginForm("Save", "SeasonView", FormMethod.Post, new { id = "popupForm" }))
{
    if (Model != null && Model.season_id > 0)
    {
       
            @Html.HiddenFor(a=>a.season_id)

        <div class="form-group">
            <label>Season Year</label>
            @Html.TextBoxFor(a => a.season_year, new { @class = "form-control", @readonly="readonly" })
        </div>

        <div class="form-group">
            <label>Orange Cap</label>
            @Html.DropDownListFor(a => a.orange_cap_player_id, TempData["players"] as List<SelectListItem>, "", new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Purple Cap</label>
            @Html.DropDownListFor(a => a.purple_cap_player_id, TempData["players"] as List<SelectListItem>, "", new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Man of the Match</label>
            @Html.DropDownListFor(a => a.man_series_player_id, TempData["players"] as List<SelectListItem>, "", new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Sixes</label>
            @Html.TextBoxFor(a => a.sixes_count, new { @class = "form-control", @type="number" })
        </div>

        <div class="form-group">
            <label>Catches</label>
            @Html.TextBoxFor(a => a.catches_count, new { @class = "form-control", @type = "number" })
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    }

}
