﻿@{
    ViewBag.Title = "SeasonView";
     Layout = "~/Views/Shared/_LayoutGentelella.cshtml";
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Edit Season Details</title>
    <link href="~/Content/DataTables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="~/Scripts/alertify.js-0.3.11/themes/alertify.core.css" rel="stylesheet" />
    <link href="~/Scripts/alertify.js-0.3.11/themes/alertify.default.css" rel="stylesheet" />
    <style>
        .error {
            color: red;
        }

        .dataTables_wrapper {
            color: black;
            font-size: 13px;
        }
    </style>
</head>

<body>

    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">

            <div class="page-title">
                <div class="title_left">
                    <h3>Edit Season Details</h3><br><br>
                </div>
            </div>

            <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
            <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
            <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/r-2.2.0/datatables.min.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="~/Scripts/alertify.js-0.3.11/src/alertify.js"></script>

            <div class="tablecontainer" style="width:100%; margin: 0 auto;">
                <table id="myDatatable" class="table table-striped table-bordered display nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Season Year</th>
                            <th>Orange Cap</th>
                            <th>Purple Cap</th>
                            <th>Man of the Season</th>
                            <th>Sixes</th>
                            <th>Catches</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <!-- / Page Content-->


            <script>

                $(document).ready(function () {

                    var bootstrapButton = $.fn.button.noConflict() // return $.fn.button to previously assigned value
                    $.fn.bootstrapBtn = bootstrapButton            // give $().bootstrapBtn the Bootstrap functionality

                //for datatable

                    var oTable = $('#myDatatable').DataTable({
                        responsive: true,
                        "ajax": {
                            "processing": true,
                            "url": '@Url.Action("GetSeasons")',
                            "type": "GET",
                            "datatype": "json"
                        },

                        "columns": [
                            { "data": "season_year", "name": "season_year", "autoWidth": true, "searchable": true },

                            { "data": "orange", "name": "player_name", "autoWidth": true },

                            { "data": "purple", "name": "player_name", "autoWidth": true },

                            { "data": "man", "name": "player_name", "autoWidth": true },

                            { "data": "sixes_count", "name": "sixes_count", "autoWidth": true },

                            { "data": "catches_count", "name": "catches_count", "autoWidth": true },

                            {

                                "data": "season_id", "width": "50px", "render": function (data) {
                                    return '<a class="popup" href="/SeasonView/Save/' + data + '">Edit</a>';
                                }
                            },
                            {

                                "data": "season_id", "width": "50px", "render": function (data) {
                                    return '<a class="popup"  href="/SeasonView/Delete/' + data + '">Delete</a>';

                                }
                            }
                        ],

                        "columnDefs": [{
                            "targets": [2, 3, 4],
                            "orderable": false
                        }],

                    });

                    $('.tablecontainer').on('click', 'a.popup', function (e) {

                        e.preventDefault();
                        OpenPopup($(this).attr('href'));
                    })

                    function OpenPopup(pageUrl) {
                        var $pageContent = $('<div/>');
                        $pageContent.load(pageUrl, function () {
                            $('#popupForm', $pageContent).removeData('validator');
                            $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                            $.validator.unobtrusive.parse('form');
                        });

                        $dialog = $('<div class = "popupWindow" style="overflow:auto;"></div>')
                            .html($pageContent)
                            .dialog({
                                draggable: false,
                                autoOpen: false,
                                resizable: false,
                                model: true,
                                title: 'Season View',
                                height: 550,
                                width: 600,
                                close: function () {
                                    $dialog.dialog('destroy').remove();
                                }
                            })

                        $('.popupWindow').on('submit', '#popupForm', function (e) {
                            var url = $('#popupForm')[0].action;
                            $.ajax({
                                type: "POST",
                                url: url,
                                data: $('#popupForm').serialize(),
                                success: function (data) {
                                    var s = data.status;
                                    if (s == true) {
                                        $dialog.dialog('close');
                                        alertify.success("Updated successfully!");
                                        oTable.ajax.reload();
                                    }
                                    else {
                                        $dialog.dialog('close');
                                        alertify.error("Some error occurred!");
                                        oTable.ajax.reload();
                                    }
                                   
                                }
                            })
                            e.preventDefault();
                        })
                        $dialog.dialog('open');
                    }
                });
            </script>

        </div>
    </div>
</body>

</html>
