﻿
@{
    ViewBag.Title = "Admin_Home";
    Layout = "~/Views/Shared/_LayoutGentelella.cshtml";
}

<html>
<head>
    <title>Homepage</title>
    <style>
        img {
          max-height:100%;
          width:100%;
          object-fit: contain;
        }
        
        </style>
</head>
<body>

    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">


                </div>
            </div>

            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">

                    <div class="count">@ViewBag.count_teams</div>

                    <h3>Teams Involved</h3>

                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">

                    <div class="count">@ViewBag.count_matches</div>
                    <h3>Matches Played</h3>

                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">

                    <div class="count">@ViewBag.count_players</div>

                    <h3>Players Participated</h3>

                </div>
            </div>

            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">

                    <div class="count">@ViewBag.active_teams</div>

                    <h3>Active Teams</h3>

                </div>
            </div>

            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">

                    <div class="count">@ViewBag.coaches_count</div>

                    <h3>Total Coaches</h3>

                </div>
            </div>

            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">

                    <div class="count">@ViewBag.umpires_count</div>

                    <h3>Total Umpires</h3>

                </div>
            </div>

            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">

                    <div class="count"><label id="totalBudget" style="font-size:0.8em;"></label></div>

                    <h3>Teams Budget</h3>

                </div>
            </div>

        </div>

        <div class="x_content">

            <div class="row">

               
                <div class="col-md-4">
                    <div class="thumbnail">
                        <div class="image view view-first">
                            <img style="width: 100%; display: block;" src="~/Content/images/Teams Logo/Rising Pune Supergiant.jpg" alt="image" class="img-responsive" />
                            <div class="mask">
                                <p>Eden Gardens Stadium</p>
                                <div class="tools tools-bottom">
                                    <a href="#"><i class=""></i></a>
                                    <a href="#"><i class=""></i></a>
                                    <a href="#"><i class=""></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="caption">
                            <h4 style="text-align:center;">Rising Pune Supergiants</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="thumbnail">
                        <div class="image view view-first">
                            <img style="width: 100%; display: block;" src="~/uploads/pw.png" alt="image" class="img-responsive" />
                            <div class="mask">
                                <p>Eden Gardens Stadium</p>
                                <div class="tools tools-bottom">
                                    <a href="#"><i class=""></i></a>
                                    <a href="#"><i class=""></i></a>
                                    <a href="#"><i class=""></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="caption">
                            <h4 style="text-align:center;">Pune Warriors</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="thumbnail">
                        <div class="image view view-first">
                            <img style="width: 100%; display: block;" src="~/Content/images/Teams Logo/Gujarat Lions.jpg" alt="image" class="img-responsive" />
                            <div class="mask">
                                <p>Eden Gardens Stadium</p>
                                <div class="tools tools-bottom">
                                    <a href="#"><i class=""></i></a>
                                    <a href="#"><i class=""></i></a>
                                    <a href="#"><i class=""></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="caption">
                            <h4 style="text-align:center;">Gujarat Lions</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="thumbnail">
                        <div class="image view view-first">
                            <img style="width: 100%; display: block;" src="~/uploads/kt.png" alt="image" class="img-responsive" />
                            <div class="mask">
                                <p>Eden Gardens Stadium</p>
                                <div class="tools tools-bottom">
                                    <a href="#"><i class=""></i></a>
                                    <a href="#"><i class=""></i></a>
                                    <a href="#"><i class=""></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="caption">
                            <h4 style="text-align:center;">Kochi Tuskers</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="thumbnail">
                        <div class="image view view-first">
                            <img style="width: 100%; display: block;" src="~/Content/images/Teams Logo/Mumbai Indians.jpg" alt="image" class="img-responsive" />
                            <div class="mask">
                                <p>Eden Gardens Stadium</p>
                                <div class="tools tools-bottom">
                                    <a href="#"><i class=""></i></a>
                                    <a href="#"><i class=""></i></a>
                                    <a href="#"><i class=""></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="caption">
                            <h4 style="text-align:center;">Mumbai Indians</h4>
                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="thumbnail">
                        <div class="image view view-first">
                            <img style="width: 100%; display: block;" src="~/Content/images/Teams Logo/Kolkata Knight Riders.jpg" alt="image" class="img-responsive" />
                            <div class="mask">
                                <p>Eden Gardens Stadium</p>
                                <div class="tools tools-bottom">
                                    <a href="#"><i class=""></i></a>
                                    <a href="#"><i class=""></i></a>
                                    <a href="#"><i class=""></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="caption">
                            <h4 style="text-align:center;">Kolkata Knight Riders</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="thumbnail">
                        <div class="image view view-first">
                            <img style="width: 100%; display: block;" src="~/Content/images/Teams Logo/Sunrisers Hyderabad.jpg" alt="image" class="img-responsive" />
                            <div class="mask">
                                <p>Eden Gardens Stadium</p>
                                <div class="tools tools-bottom">
                                    <a href="#"><i class=""></i></a>
                                    <a href="#"><i class=""></i></a>
                                    <a href="#"><i class=""></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="caption">
                            <h4 style="text-align:center;">Sunrisers Hyderabad</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="thumbnail">
                        <div class="image view view-first">
                            <img style="width: 100%; display: block;" src="~/Content/images/Teams Logo/Royal Challengers Bangalore.jpg" alt="image" class="img-responsive" />
                            <div class="mask">
                                <p>Eden Gardens Stadium</p>
                                <div class="tools tools-bottom">
                                    <a href="#"><i class=""></i></a>
                                    <a href="#"><i class=""></i></a>
                                    <a href="#"><i class=""></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="caption">
                            <h4 style="text-align:center;">Royal Challengers Bangalore</h4>
                        </div>
                    </div>
                </div>

            

                </div>
            </div>
        </div>
           
            <!-- /page content -->

    <script type="text/javascript">

        $().ready(function () {
            if (document.referrer != 'http://localhost:58515/') {
                history.pushState(null, null, 'login');
                window.addEventListener('popstate', function () {
                    history.pushState(null, null, 'login');
                });
            }
        });



        function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }
        var val = parseInt(@ViewBag.total_budget);
        val = numberWithCommas(val);
        $('#totalBudget').text(val);

    </script>
</body>
</html>

