﻿@model IPLAuction.Models.Validation.player_masterMetaData
@{

    ViewBag.Title = "AddPlayer";
     Layout = "~/Views/Shared/_LayoutGentelella.cshtml";
}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Add New Player</title>
    <link href="~/Content/css/icheck/flat/green.css" rel="stylesheet">
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

    <link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />
    <style>
        .error {
            color: #ef5350;
        }
    </style>
</head>
<body>
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">

            <div class="page-title">
                <div class="title_left">
                    <h3>New Player</h3>
                </div>
            </div>


            @using (Html.BeginForm("AddPlayer", "PlayerMaster",
                FormMethod.Post,
                 new { enctype = "multipart/form-data", @class = "form-horizontal form-label-left", style = "margin-right:200px; margin-top:60px;" }))

            {

                <div class="form-group">
                    @Html.LabelFor(a => a.player_name, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.TextBoxFor(a => a.player_name, new { @class = "form-control col-md-7 col-xs-12", type = "text", @autocomplete = "off" })
                        @Html.ValidationMessageFor(a => a.player_name, "", new { @class = "error" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(a => a.player_dob, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        @Html.TextBoxFor(a => a.player_dob, new { @class = "form-control datepicker", placeholder = "Select Date Of Birth...", id = "dob", @required = "required", @autocomplete = "off" })
                        @Html.ValidationMessageFor(a => a.player_dob, "", new { @class = "error" })
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Batting Style<span class="required">*</span></label>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.DropDownListFor(a => a.player_batting_style, ViewBag.batting as List<SelectListItem>, "--Choose batting style--", new { @class = "select2_single form-control" })
                        @Html.ValidationMessageFor(a => a.player_batting_style, "", new { @class = "error" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Batting star<span class="required">*</span></label>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.DropDownListFor(a => a.player_batting_star,
                 new List<SelectListItem>
                 {
                           new SelectListItem{Text="1", Value="1"},
                           new SelectListItem{Text="2", Value="2"},
                           new SelectListItem{Text="3", Value="3"},
                           new SelectListItem{Text="4", Value="4"},
                           new SelectListItem{Text="5", Value="5"},

                 }, "--Select batting stars--", new { @class = "select2_single form-control", @name = "drpBattingStar" })
                        @Html.ValidationMessageFor(a => a.player_batting_star, "", new { @class = "error" })
                    </div>
                </div>



                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Bowling Style<span class="required">*</span></label>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.DropDownListFor(a => a.player_bowling_skill, ViewBag.bowling as List<SelectListItem>, "--Choose bowling skill--", new { @class = "select2_single form-control" })
                        @Html.ValidationMessageFor(a => a.player_bowling_skill, "", new { @class = "error" })
                    </div>
                </div>



                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Bowling star<span class="required">*</span></label>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.DropDownListFor(a => a.player_bowling_star,
                 new List<SelectListItem>
                 {
                           new SelectListItem{Text="1", Value="1"},
                           new SelectListItem{Text="2", Value="2"},
                           new SelectListItem{Text="3", Value="3"},
                           new SelectListItem{Text="4", Value="4"},
                           new SelectListItem{Text="5", Value="5"},

                 }, "--Select bowling stars--", new { @class = "select2_single form-control", @name = "drpBowlingStar" })
                        @Html.ValidationMessageFor(a => a.player_bowling_star, "", new { @class = "error" })
                    </div>
                </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Nationality<span class="required">*</span></label>
                            <div class="col-md-4 col-sm-4 col-xs-6">
                                @Html.DropDownListFor(a => a.country, ViewBag.country as List<SelectListItem>, "--Choose nationality--", new { @class = "select2_single form-control" })
                                @Html.ValidationMessageFor(p => p.country, "", new { @class = "error" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(a => a.active, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-4 col-sm-4 col-xs-6">
                                @Html.RadioButtonFor(a => a.active, true, new { @class = "flat", @checked = "checked" })
                                <label for="Active">Active</label>

                                @Html.RadioButtonFor(a => a.active, false, new { @class = "flat"})
                                <label for="Inactive">Inactive</label><br />
                                @Html.ValidationMessageFor(a => a.active, "", new { @class = "error" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(a => a.player_image, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-4 col-sm-4 col-xs-6">
                                <input type="file" name="fileUpload" class="form-control col-md-7 col-xs-12" required="required" />
                            </div>
                            @Html.ValidationMessageFor(a => a.player_image, "", new { @class = "error" })
                        </div>


                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="reset" class="btn btn-primary">Cancel</button>
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </div>
            }

            <script type="text/javascript">
                            $(function () { // will trigger when the document is ready
                                $('#dob').datepicker({
                                    dateFormat: 'yy-mm-dd',
                                    changeMonth: true,
                                    changeYear: true,
                                    yearRange: "1985:2000"
                                   
                                }); //Initialise any date pickers
                                
                });
                $('a.dropdown-toggle, .dropdown-menu a').on('touchstart', function (e) {
                    e.stopPropagation();
                });
            </script>


            @if (ViewBag.Success == false)
            {
                <div class="alert alert-error alert-dismissable fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Error!</strong> Fill in the required details!
                </div>
            }

            @if (ViewBag.Added == true)
            {
                <div class="alert alert-info alert-dismissable fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success!</strong> @ViewBag.new_player_name was added successfully!
                </div>
            }

        </div>
    </div>


</body>
</html>