﻿@model IPLAuction.Models.bowling_skill_master

@{
    ViewBag.Title = "NewBattingSkill";
    Layout = "~/Views/Shared/_LayoutGentelella.cshtml";
}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Add New Player</title>
    <link href="~/Content/css/icheck/flat/green.css" rel="stylesheet">
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

    <link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />
    <style>
        .error {
            color: #ef5350;
        }
    </style>
</head>
<body>

    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">

            <div class="page-title">
                <div class="title_left">
                    <h3>New Bowling Skill</h3>
                </div>
            </div>


            @using (Html.BeginForm("NewBattingSkill", "PlayerMaster",
                FormMethod.Post,
                 new { enctype = "multipart/form-data", @class = "form-horizontal form-label-left", style = "margin-right:200px; margin-top:60px;" }))

            {


                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">New Bowling Skill<span class="required">*</span></label>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.TextBoxFor(a => a.bowling_skill, new { @class = "form-control col-md-7 col-xs-12", type = "text", name="txtSkill", @autocomplete = "off", required = "required" })
                        @Html.ValidationMessageFor(a => a.bowling_skill, "", new { @class = "error" })
                    </div>
                </div>

                <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="reset" class="btn btn-primary">Cancel</button>
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </div>
            }

            @if (ViewBag.Success_Bowling == false)
            {
                <div class="alert alert-error alert-dismissable fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Error!</strong> Fill in the required details!
                </div>
            }

            @if (ViewBag.Success_Bowling_Validate == false)
            {
                <div class="alert alert-error alert-dismissable fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Error!</strong> Entered Bowling Skill already exists!
                </div>
            }

            @if (ViewBag.Added_Bowling == true)
            {
                <div class="alert alert-info alert-dismissable fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success!</strong> New Bowling Style Added Successfully!
                </div>
            }

        </div>
    </div>


</body>
</html>