﻿@model IPLAuction.Models.team_squad

@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_LayoutTeamOwner.cshtml";
}

<style>
    .main {
        margin-top: 30px; /* Add a top margin to avoid content overlay */
    }
</style>

<html lang="en">
<head>
    <title>Owner Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/DataTables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css" rel="stylesheet" />


    <link href="~/Content/fonts/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/animate.min.css" rel="stylesheet">

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Scripts/alertify.js-0.3.11/themes/alertify.core.css" rel="stylesheet" />
    <link href="~/Scripts/alertify.js-0.3.11/themes/alertify.default.css" rel="stylesheet" />
    <script src="~/Scripts/alertify.js-0.3.11/src/alertify.js"></script>
</head>

<body  style="background:#F7F7F7;">
    <div class="container">
        <div class="container">

            <!--Team Squad-->
            <div class="col-md-12" id="x2" style="border:2px solid #ccc;height:auto;top:70px; box-shadow:0px 0px 10px #999; width:100%">


                <label class="control-label col-md-3">Filter By Season</label>

                @Html.DropDownList("drpSeason", (IEnumerable<SelectListItem>)ViewBag.season_list, new { @class = "select2_single form-control" })

                <br><br>

                @*Datatable begins*@
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
                <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
                <script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>

                <div class="tablecontainer" style="width:90%; margin: 0 auto;">
                    <table id="myDatatable" class="table table-striped table-bordered" cellspacing="0">

                        <thead>
                            <tr>
                                <th>Player Name</th>
                                <th>Date Of Birth</th>
                                <th>Batting Style</th>
                                <th>Batting Star</th>
                                <th>Bowling Style</th>
                                <th>Bowling Star</th>
                                <th>Country</th>
                            </tr>
                        </thead>

                    </table>
                </div>

                <script>

                $(document).ready(function () {
                    var filterSeason = $("#drpSeason").val()

                    var oTable = $('#myDatatable').DataTable({

                        resposive: true,

                        "ajax": {
                            "url": '/TeamHome/GetSquad',
                            "type": "GET",
                            "datatype": "json"
                        },
                        fnServerParams: function (aoData) {
                            aoData.push({ "name": "id", "value": $("#drpSeason").val() });
                        },
                        "columns": [
                            { "data": "player_name", "name": "player_name", "autoWidth": true, "searchable": true },
                            {
                                "data": "player_dob", "name": "player_dob", "autoWidth": true,
                                "render": function (jsonDate) {
                                    var date = new Date(parseInt(jsonDate.substr(6)));
                                    var month = date.getMonth() + 1;
                                    return date.getDate() + "/" + month + "/" + date.getFullYear();
                                }
                            },
                            { "data": "batting", "name": "batting_style", "autoWidth": true },
                            { "data": "bat_star", "name": "bat_star", "autoWidth": true },
                            { "data": "bowling", "name": "bowling_skill", "autoWidth": true },
                            { "data": "bowl_star", "name": "bowl_star", "autoWidth": true },
                            { "data": "country", "name": "country_name", "autoWidth": true, "searchable": true }
                        ],

                        "columnDefs": [{
                            "targets": [0, 1, 2, 4, 6],
                            "orderable": false
                        }]

                    });


                    $("#drpSeason").change(function () {
                        oTable.ajax.reload();
                    });


                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: '@Url.Action("GetSchedule")',
                    traditional: true,
                    success: function (match) {
                        //var ob = Object.keys(match.data).length;
                        //alert(ob);
                        $.each(match.data, function (k, v) {
                         //   var en = btoa(v.logo);
                          //  var de = atob(en);

                            //  document.getElementById('divSchedule').style.border = "solid 1px";
                            $("#divSchedule").append('<div class="single" id="my_test_' + (k + 1) + '">' + '<div class="single" style="border: 2px solid #999; box-shadow:0px 0px 2px #999; height: auto; margin-top:20px;"></div>'
                                + '<div class="any_name"></div>' + "<code>Match Date</code>" + "  " + '<div class="date" style="margin-top:5px; margin-left:10px;"></div>' + new Date(parseInt(v.match_date.substr(6))).toDateString() + ' <span class="match" style="margin-right:270px;"></span>'  
                                + v.team + ' ' + "Vs." + ' ' + v.opponent + '<br>' + ' <span class="x" style="margin-left:500px;"></span>' + v.city_name + '<div class="y" style="margin-left:450px;">' + v.venue_name + '</div>' + '<div class="z" style="margin-left:400px;">' + '</div>');
                        });
                    },
                    error: function (ex) {
                        alertify.error("Cannot load team schedule, try again later!");
                        return false;
                    }
                })
                //alert(match.data[0].city_name);
                //new Date(parseInt(v.match_date.substr(6)))
                //' + new Date(v.match_date.match(/\d+/)[0] * 1) + '


                });
                </script>
            </div>
            <!--Team Squad ends-->
            @*<div class="col-md-12" id="x3" style="border:0px solid #ccc;height:550px;margin-bottom:20px;width:100%">upcoming schedule</div>
                <div class="col-md-12" id="x4" style="border:0px solid #ccc;height:550px;margin-bottom:20px;width:100%">RESULTS DEKHLO</div>
                <div class="col-md-12" id="x6" style="border:0px solid #ccc;height:550px;margin-bottom:20px;width:100%">*@
        
            <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3684.387443286441!2d88.34107581495944!3d22.564608085186844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a02779ff7e5b9af%3A0x1d1b1884bdbbbd79!2sEden+Gardens!5e0!3m2!1sen!2sin!4v1505985205924" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>-->
        </div>
        <br><br>

        <div class="col-md-12" id="x4" style="border:2px solid #ccc;height:550px;top:70px;left: 15px; box-shadow:0px 0px 10px #999; width:100%">
            <h4>Homecity</h4>
            <code> @TempData["home_city"] </code>
            <label id="lblCity" style="visibility:hidden;">@TempData["home_city"] </label>
            <br><br>
            <h4>Homeground</h4>
            <code id="teamground"> @TempData["home_ground"] </code>
            <label id="lblGround" style="visibility:hidden;">@TempData["home_ground"] </label>
            <div id="map_canvas" style="width:100%; height:350px;">
            </div>

        </div>
                <br><br>
       
        <div class="col-md-12" id="x5" style="border:2px solid #ccc;height:550px;top:100px;left: 15px; box-shadow:0px 0px 10px #999; width:100%">
            <!--history-->
            <h4>About Team</h4>
            <p style="font-family:'Arial Rounded MT'; font-size:1.7em; text-align: justify; text-justify: inter-word; color:dimgrey;"> @TempData["about_team"]<p>
                <!-- End history-->
        </div>

        <div class="col-md-12" id="x4" style="border:2px solid #ccc;height:550px;top:130px;left: 15px; box-shadow:0px 0px 10px #999; width:100%">
        <h4>Showing Budget for Season </h4>
        <span>
            <strong> @TempData["current_season_year"] </strong><br><br>
            <input type="submit" value="Edit Budget" class="btn btn-round" />
            </span> 
        <br><br>
            <h4>Total Budget</h4>
            <strong id="total_budget"> @TempData["total_budget"] </strong>
        <br>
            <h4>Budget Spent</h4>
            <strong id="budget_spent"> @TempData["budget_spent"] </strong>
        
        
        </div>

                <div class="col-md-12" id="x3" style="border:2px solid #ccc;height:auto;top:160px;left: 15px; box-shadow:0px 0px 10px #999; width:100%">
                   <h4>@TempData["team_name"] Schedule</h4>
                    <div id="border"></div>
                    <div id="divSchedule"></div>
                </div>
            
        @*<div class="col-md-12" id="x6" style="border:2px solid #ccc;height:auto;top:190px;left: 15px; box-shadow:0px 0px 10px #999; width:100%">

            Bidding Process
        </div>*@
        </div>

    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyD0kbFGOpgs14ct13fifJYmj2dtrFKRYmM "></script>

    <script type="text/javascript">
        $(window).load(function () {
             var geocoder;
             var map;
             var ground = document.getElementById('lblGround').textContent;
             var city = document.getElementById('lblCity').textContent;
             var g = ground.concat(city);
             var address = g;
             
             //function initialize() {
             geocoder = new google.maps.Geocoder();
             var latlng = new google.maps.LatLng(-34.397, 150.644);
             var myOptions = {
                 zoom: 8,
                 center: latlng,
                 mapTypeControl: true,
                 mapTypeControlOptions: { style: google.maps.MapTypeControlStyle.DROPDOWN_MENU },
                 navigationControl: true,
                 mapTypeId: google.maps.MapTypeId.ROADMAP
             };
             map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
             if (geocoder) {
                 geocoder.geocode({ 'address': address }, function (results, status) {
                     if (status == google.maps.GeocoderStatus.OK) {
                         if (status != google.maps.GeocoderStatus.ZERO_RESULTS) {
                             map.setCenter(results[0].geometry.location);

                             var infowindow = new google.maps.InfoWindow(
                                 {
                                     content: '<b>' + address + '</b>',
                                     size: new google.maps.Size(150, 50)
                                 });

                             var marker = new google.maps.Marker({
                                 position: results[0].geometry.location,
                                 map: map,
                                 title: address
                             });
                             google.maps.event.addListener(marker, 'click', function () {
                                 infowindow.open(map, marker);
                             });

                         } else {
                             alert("No results found");
                         }
                     } else {
                         alert("Geocode was not successful for the following reason: " + status);
                     }
                 });
             }
            //}

             $().ready(function () {
                 if (document.referrer != 'http://localhost:58515/') {
                     history.pushState(null, null, 'login');
                     window.addEventListener('popstate', function () {
                         history.pushState(null, null, 'login');
                     });
                 }
             });

             function numberWithCommas(x) {
                 return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
             }
             var val = parseInt($('#total_budget').text());
             var val2 = parseInt($('#budget_spent').text());
             val = numberWithCommas(val);
             val2 = numberWithCommas(val2);
             $('#total_budget').text(val);
             $('#budget_spent').text(val2);
        });
    </script>

            </body>

        </html>
