﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>Owner Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#result").click(function () {


                $("html, body").delay(500).animate({
                    scrollTop: $('#x4').offset().top
                }, 1000);


            });
            /*$("#graph").click(function()
            {
                $("html, body").delay(1000).animate({
                scrollTop: $('#x1').offset().top
                }, 1000);
            });*/
            $("#squadlist").click(function () {
                $("html, body").delay(1000).animate({
                    scrollTop: $('#x2').offset().top
                }, 1000);
            });
            $("#about").click(function () {
                $("html, body").delay(1000).animate({
                    scrollTop: $('#x5').offset().top
                }, 1000);
            });
            $("#upcoming_schedule").click(function () {
                $("html, body").delay(1000).animate({
                    scrollTop: $('#x3').offset().top
                }, 1000);
            });
            $("#venue").click(function () {
                $("html, body").delay(1000).animate({
                    scrollTop: $('#x6').offset().top
                }, 1000);
            });
        });
    </script>
    <style>
        .navbar-inverse {
            background-color: #1d2ea7;
            position: fixed;
            width: 100%;
            z-index: 998;
            border-radius: 0px;
        }

            .navbar-inverse .navbar-nav > li > a {
                color: rgba(221, 221, 221, 0.84);
            }

            .navbar-inverse .navbar-brand {
                color: #fff;
            }

            .navbar-inverse .navbar-nav > li > a:hover {
                background-color: #337ab7;
            }
    </style>
</head>


<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">@TempData["team_name"]</a>
            </div>
            <!--<div class="navbar-header">
              <a class="navbar-brand" href="#">Kolkata Knight Riders</a>
              </div>-->
            <div class="collapse navbar-collapse" id="myNavbar">

                <ul class="nav navbar-nav ">

                    <li><a href="#" id="home" class="active">Squad</a></li>

                    <li><a href="#">Photos</a></li>

                    <li style="margin-right:0px;"><a target="_blank" href="auction.html">Auction</a></li>
                    <li>

                    </li>
                    <li><a href="#" id="venue">Venue</a></li>
                    <!--  <li><a href="#" id="graph">Graphs</a></li>-->
                    <li><a href="#" id="upcoming_schedule">Upcoming Schedule</a></li>
                    <li><a href="#" id="about">About</a></li>
                    <li><a href="#" onclick="location.href='@Url.Action("Logout", "Home")'">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
  
    <div>
        @RenderBody()
        @*<footer class="container-fluid bg-4 text-center">
            IPL Auction Management System by <a href="https://christuniversity.in/">Christ University</a>
        </footer>*@
    </div>

    <style>
        .bg-4 {
            background-color: #2f2f2f;
            color: #ffffff;
        }
    </style>
   

</body>

</html>
