﻿<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IPL Auction</title>
    <link rel="icon" href="~/Content/website_images/favicon.ico" type="image/ico" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/nprogress.css" rel="stylesheet" />
    <link href="~/Libs/Gentelella/css/custom.min.css" rel="stylesheet" />

    <!-- Custom styling plus plugins -->
   
    <link rel="stylesheet" type="text/css" href="~/Content/css/maps/jquery-jvectormap-2.0.3.css" />
    <link href="~/Content/css/icheck/flat/green.css" rel="stylesheet" />
    <link href="~/Content/css/floatexamples.css" rel="stylesheet" type="text/css" />
    
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/nprogress.js"></script>
   

    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.Action("admin_home", "Home")" class="site_title"><span>IPL Auction</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            @if (System.Web.HttpContext.Current.Session["user_image"] == null)
                            {
                                <img src="~/Content/images/default-user-image.png" alt = "Profile Pic" class="img-responsive profile_img" style="margin-top: 35px;margin-left: 5px;" />
                            }
                            else
                            {
                                <img src="@Url.Content((string)System.Web.HttpContext.Current.Session["user_image"])" alt="Profile Pic" class="img-responsive profile_img" style="margin-top: 35px;margin-left: 5px;" />
                            }
                        </div>
                        <div class="profile_info">
                            @if (System.Web.HttpContext.Current.Session["user_name"] == null)
                            {
                                <h4 style="color:#fff; font-family:monospace;">Not Logged In</h4>
                            }
                            else
                            {
                            <h4 style="color:#fff; font-family:monospace;">@System.Web.HttpContext.Current.Session["user_name"].ToString()</h4>
                            }
                            @*<h3></h3>*@
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>Administrator</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a href="@Url.Action("admin_home", "Home")#Home"><i class="fa fa-home"></i> Home</a> 
                                    @*<ul class="nav child_menu">
                                        <li><a href="index.html">Dashboard</a></li>
                                        <li><a href="index2.html">Dashboard2</a></li>
                                        <li><a href="index3.html">Dashboard3</a></li>
                                    </ul>*@
                                </li>
                                <li>
                                    <a><i class="fa fa-table"></i> Add New <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a href="@Url.Action("AddPlayer","PlayerMaster")#NewPlayer">Add Player</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("AddNewTeam","NewTeam")#NewTeam">Add New Team</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("AddOwner","NewOwner")#NewOwner">Add Owner</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("AddSeason","SeasonMaster")#NewSeason">Add Season</a>
                                            <a href="@Url.Action("EditNewSeason","SeasonMaster")#EditSeason">Edit Season</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("NewMatch","MatchMaster")">Add Match</a>
                                            <a href="@Url.Action("EditMatch","MatchMaster")">Edit Match Details</a>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                 
                                    <a><i class="fa fa-table"></i> DataTable/Edit Details <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a href="@Url.Action("SeasonView", "SeasonView")">Season Details</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("TeamView", "TeamView")">Team Details</a>
                                        </li>

                                        <li>
                                            <a href="@Url.Action("ViewPlayer", "PlayerDetails")">Player Details</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("ViewPlayerSkills", "PlayerSkills")">Player Skills</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("MatchView", "MatchView")">Match Details</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-table"></i> Player Bidding <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a href="@Url.Action("Selection", "SelectPlayers")">Select Players</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Bidding", "BiddingProcess")">Bidding Process</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-table"></i> Misc. <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a href="@Url.Action("NewBattingSkill", "PlayerMaster")">New Bowling Skill</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("NewCountry", "PlayerMaster")">New Country</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("NewCity", "PlayerMaster")">New City</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("NewVenue", "PlayerMaster")">New Venue</a>
                                        </li>
                                    </ul>

                                </li>
                            </ul>
                        </div>
                     
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Profile" href="#" onclick="location.href='@Url.Action("ProfileView", "Profile")'">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen" onclick="requestFullScreen()">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="#" onclick="location.href='@Url.Action("Logout", "Home")'">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Christ University" href="#">
                            <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                           
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            @RenderBody()
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                   IPL Auction Management System by <a href="https://christuniversity.in/">Christ University</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
  
    <script src="~/Content/js/bootstrap.min.js"></script>

    <!-- gauge js -->
    <script src="~/Content/js/gauge/gauge.min.js"></script>
    <script src="~/Content/js/gauge/gauge_demo.js"></script>
    <!-- bootstrap progress js -->
    <!-- bootstrap progress js -->
    <script src="~/Content/js/progressbar/bootstrap-progressbar.min.js"></script>
    <script src="~/Content/js/nicescroll/jquery.nicescroll.min.js"></script>
    <!-- icheck -->
    <script src="~/Content/js/icheck/icheck.min.js"></script>
    <!-- daterangepicker -->
    <script type="~/Content/text/javascript" src="js/moment/moment.min.js"></script>
    <script type="~/Content/text/javascript" src="js/datepicker/daterangepicker.js"></script>
    <!-- chart js -->
    <script src="~/Content/js/chartjs/chart.min.js"></script>
    

    <!-- flot js -->
    <!--[if lte IE 8]><script type="text/javascript" src="js/excanvas.min.js"></script><![endif]-->
    <script type="text/javascript" src="~/Content/js/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="~/Content/js/flot/jquery.flot.pie.js"></script>
    <script type="text/javascript" src="~/Content/js/flot/jquery.flot.orderBars.js"></script>
    <script type="text/javascript" src="~/Content/js/flot/jquery.flot.time.min.js"></script>
    <script type="text/javascript" src="~/Content/js/flot/date.js"></script>
    <script type="text/javascript" src="~/Content/js/flot/jquery.flot.spline.js"></script>
    <script type="text/javascript" src="~/Content/js/flot/jquery.flot.stack.js"></script>
    <script type="text/javascript" src="~/Content/js/flot/curvedLines.js"></script>
    <script type="text/javascript" src="~/Content/js/flot/jquery.flot.resize.js"></script>  

    <!-- pace -->
    <script src="~/Content/js/pace/pace.min.js"></script>

    <script src="~/Scripts/fastclick.js"></script>
    <script src="~/Scripts/nprogress.min.js"></script>
    <script src="~/Libs/Gentelella/js/custom.min.js"></script>
    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @*@RenderSection("scripts", required: false)*@
   
    <script type="text/javascript">

        function requestFullScreen() {
            var el = document.documentElement
                , rfs = // for newer Webkit and Firefox
                    el.requestFullScreen
                    || el.webkitRequestFullScreen
                    || el.mozRequestFullScreen
                    || el.msRequestFullScreen
                ;

            if (typeof rfs != "undefined" && rfs) {

                rfs.call(el);

            } else if (typeof window.ActiveXObject != "undefined") {

                // for Internet Explorer
                var wscript = new ActiveXObject("WScript.Shell");

                if (wscript != null) {
                    wscript.SendKeys("{F11}");
                    wscript.SendKeys("{esc}");
                }
            }
        }
    </script>

</body>



</html>
