﻿@model IPLAuction.Models.Validation.match_masterMetaType

@{
    ViewBag.Title = "Bidding";
    Layout = "~/Views/Shared/_LayoutGentelella.cshtml";
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
    <link href="~/Content/DataTables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="~/Scripts/alertify.js-0.3.11/themes/alertify.core.css" rel="stylesheet" />
    <link href="~/Scripts/alertify.js-0.3.11/themes/alertify.default.css" rel="stylesheet" />

    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/r-2.2.0/datatables.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>

    <script src="~/Scripts/alertify.js-0.3.11/src/alertify.js"></script>
    <style>
        .card {
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        }

        .card {
            margin: 30px;
            box-sizing: border-box;
            border-radius: 2px;
            background-clip: padding-box;
            width: auto;
            height: auto;
            background-color: white;
        }

            .card span.card-title {
                color: #fff;
                font-size: 24px;
                font-weight: 300;
                text-transform: uppercase;
            }

            .card .card-image {
                position: relative;
                overflow: hidden;
            }

                .card .card-image img {
                    border-radius: 2px 2px 0 0;
                    background-clip: padding-box;
                    position: relative;
                    z-index: -1;
                    height: 250px;
                    width: 350px;
                }

                .card .card-image span.card-title {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding: 16px;
                }

            .card .card-content {
                padding: 16px;
                border-radius: 0 0 2px 2px;
                background-clip: padding-box;
                box-sizing: border-box;
            }

                .card .card-content p {
                    margin: 0;
                    color: inherit;
                }

                .card .card-content span.card-title {
                    line-height: 48px;
                }

            .card .card-action {
                border-top: 1px solid rgba(160, 160, 160, 0.2);
                padding: 16px;
            }

                .card .card-action a {
                    color: #ffab40;
                    margin-right: 16px;
                    transition: color 0.3s ease;
                    text-transform: uppercase;
                }

                    .card .card-action a:hover {
                        color: #ffd8a6;
                        text-decoration: none;
                    }

        .table-card {
        }
    </style>

</head>
<body>


    <div class="right_col" role="main" style="height:750px;">

        <div class="page-title">
            <div class="title_left">
                <h3>Bidding Process</h3>
                @*<button class="btn-primary btn-sm" style="display:inline;" id="btnPrevious">Previous</button>*@
                @*<button class="btn-primary btn-sm" id="btnNext">Next  Player</button>*@
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12" id="divBidding" style="border:1px solid #999; top: 100px; position: absolute; width: 30%; float: left;">
                <span id="text">Bidding has started</span><br>
                <span id="text_time">Time Remaining:</span><span id="count"></span>

                <img alt="Profile Picture" class="img-circle player_img" style="margin-left: auto;margin-right: auto;display: block;width: 25%;" />
                <br>
                <h3 class="playerName" style=" text-align: center;display: block;"></h3>
                <h3 class="playerCountry" style=" text-align: center;display: block; font-size:20px;"></h3>
                <h3 class="playerAge" style=" text-align: center;display: block;font-size:15px;"></h3>


                <div class="col-md-6 col-sm-6 col-xs-12">
                    <br>
                    <label style="font-weight: 100;font-size: 1.1em;">Batting&nbsp;Style&nbsp;&nbsp;&nbsp;<span class="batStyle" style="white-space: nowrap;display: inline; font-family:monospace; font-size:1.3em;"></span></label>

                    <label style="font-weight: 100;font-size:1.1em;">Batting&nbsp;Star</label>
                    <label class="rate_bat"></label>

                    <label style="font-weight: 100;font-size: 1.1em;">Bowling&nbsp;Skill&nbsp;&nbsp;&nbsp;<span class="bowlSkill" style="white-space: nowrap;display: inline;font-family:monospace; font-size:1.3em;"></span></label>

                    <label style="font-weight: 100;font-size: 1.1em;">Bowling&nbsp;Star</label>
                    <label class="rate_bowl"></label>

                    <label style="font-weight: 100;font-size: 1.1em;">Base&nbsp;Price&nbsp;&nbsp;&nbsp;<label class="base_price" id="player_base_price" style="left: 90px;display: inline;font-family:monospace; font-size:1.3em;"></label></label>
                    <label id="bidding_id" style="font-size:0.1em;">@ViewBag.bid_id</label>

                </div>

                <div class="ln_solid"></div>
                <br>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <span class=TimeOut></span>
                        <button type="submit" class="btn btn-success" id="btnStartBidding" style="width:100%; margin: auto;">Start Bidding</button>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button type="submit" class="btn btn-success" id="btnSold" style="width:100%; margin: auto;">Player Sold</button>
                    </div>
                </div>

            </div>


            @*Populating Teams*@
            <div id="divTeamName" class="col-md-6 col-sm-6 col-xs-12" style="right:50px;">
                @*<style>
                        table, th, td {
                            border: 1px solid black;
                            border-collapse: collapse;
                        }
                        </style>


                    <table class="table-responsive" style="width:100%">
                        <tr class="tblheading">
                            <th>Player Name</th>
                            <th>Purchased by</th>
                            <th>Base Price</th>
                            <th>Purchased Price</th>
                        </tr>

                    </table>*@


            </div>
        </div>


        @*<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3" id="divTeams" style="width:auto; border:1px solid #999;">
                    <div class="form-group">
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div id="border"></div>
                            <div id="divTeamName"></div>
                        </div>
                    </div>
            </div>*@
        @*@using (Html.BeginForm("StartBidding", "BiddingProcess", FormMethod.Post))
                {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)*@

        <div class="modal fade" tabindex="-1" id="biddingModal"
             data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            ×
                        </button>
                        <h4 class="modal-title">Player Bidding Details</h4>
                    </div>
                    <div class="modal-body" style="height:100px;">
                        <form>
                            <div class="form-group">
                                <input class="form-control" type="number"
                                       placeholder="Sold Value" name="txtSoldValue" id="txtValue" required="required" />
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 col-xs-6">
                                    @Html.DropDownListFor(a => a.team_id, ViewBag.team as List<SelectListItem>, "--Player Sold To--", new { @class = "select2_single form-control", @id = "drpTeam", @required = "required" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 col-xs-6">
                                    <label class="team_avail_bal"></label>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id="btnSubmit" type="submit" class="btn btn-info btn-xs">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        @*}*@

        <script>

        function startTimer() {
            ajax_inprocess_change();

            var counter = 3000;
            setInterval(function () {
                counter--;
                if (counter >= 0) {
                    span = document.getElementById("count");
                    span.innerHTML = counter;
                }
                if (counter === 0) {

                    $("#count").hide();
                    $("#text").hide();
                    $("#text_time").hide();
                    $("#btnNext").show();
                    $("#btnPrevious").show();
                    clearInterval(counter);
                    $(".TimeOut").append("Bidding process timeout for this player");
                    $("#btnSold").hide();

                    var id = @ViewBag.first_bid_id;
                        var curr_bid_id = $("#bidding_id").html();

                        if (curr_bid_id > id) {
                            id = $("#bidding_id").html();
                        }

                        var bid_id = id;

                    $.ajax({

                          type: 'POST',
                            dataType: 'json',
                            url: '@Url.Action("PlayerUnsold")',
                            data:
                            {
                                id: bid_id
                            },
                            success: function (status) {

                            },
                            error: function (ex) {
                                alert('Failed to retrieve states.' + ex);
                                return false;
                            }
                    })

                    setTimeout(location.reload.bind(location), 10000);
                }
            }, 1000);
        }

        function ajax_inprocess_change() {

            var id = @ViewBag.first_bid_id;
            var curr_bid_id = $("#bidding_id").html();

            if (curr_bid_id > id) {
                id = $("#bidding_id").html();
            }

            var bid_id = id;
            if (bid_id == null || bid_id == 0) {
                @*alert("Bid ID: " + bid_id);
                alertify.alert("Bidding Process Complete!");
                location.href = @Url.Action("Selection", "SelectPlayers");*@
            }

           $("#btnSold").show();

           $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: '@Url.Action("StartBidding")',
                    data:
                    {
                        id: bid_id
                    },
                    success: function (status) {

                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                        return false;
                    }
                })

            };


            $('#btnSubmit').trigger('click');

            $('#btnSubmit').click(function (e) {
                var purchase_price = $('#txtValue').val();
                var base_price = $("#player_base_price").text();
                var team_id = $('#drpTeam :selected').val();
                var bid_id = $("#bidding_id").html();

                if (purchase_price < base_price) {
                    alertify.error("Purchase price cannot be lesser than player's base price");
                    $("#biddingModal").modal('hide');
                    //e.preventDefault();
                }

                if (team_id == "") {
                    alertify.error("Please select a team first!");
                    $("#biddingModal").modal('hide');
                }

                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: '@Url.Action("PurchasePlayer")',
                    data:
                    {
                        id: bid_id,
                        base_price: base_price,
                        price: purchase_price,
                        t_id: team_id
                    },
                    success: function (bidding) {
                        //alert(bidding);
                       // alert(bidding.status);

                        var result = bidding.status;
                        alert(result);
                        if (result == false) {
                            $("#biddingModal").modal('hide');
                            alertify.error("Error occurred, please enter valid data!");
                        }

                        if (result == true) {
                            $("#biddingModal").modal('hide');
                            alertify.success("Player Bidding was successfull");
                            //window.location.href = "/BiddingProcess/Bidding/";
                            $("#biddingModal").modal('hide');
                            alertify.success("Player Bidding was successfull");
                            //populateTable(bidding);
                            window.location.href = "/BiddingProcess/Bidding/";
                           
                        }
                      


                },

                    error: function (ex) {

                        alertify.error("Purchase price cannot be lesser than player's base price");
                        return false;
                    }
                })

            });

         
                function populateTable(bidding) {

                    
                    if (bidding == null) {
                        alert("Its null");
                    }
                    else {

                        $.each(bidding.data, function (k, v) {
                            $("#divTeamName").append('<div class="col-lg-3 col-md-6 col-sm-12" style="width:100%;">' +
                                '<div class = "card" id = "card_id_' + (k + 1) + '">' +
                                '<div class="card-content">' +
                                '<div class="contentpanel" align="center">' +
                                '<table class="table-responsive" width="100%" style="border:none;">' +
                                '<tbody">' +
                                '<tr>' +
                                '<th>' + 'Player Name' + '</th>' +
                                '</tr>' +
                                '<tr>' +
                                '<td>' + v.player_name + '</td>' +
                                '</tr>' +
                                '<tr>' +
                                '<th>' + 'Team Name' + '</th>' +
                                '</tr>' +
                                '<tr>' +
                                '<td>' + v.team_name + '</td>' +
                                '</tr>' +
                                '<tr>' +
                                '<th>' + 'Base Price' + '</th>' +
                                '</tr>' +
                                '<tr>' +
                                '<td>' + v.base_price + '</td>' +
                                '</tr>' +
                                '<tr>' +
                                '<th>' + 'Sold Price' + '</th>' +
                                '</tr>' +
                                '<tr>' +
                                '<td>' + v.sold_price + '</td>' +
                                '</tr>' +
                                '</tbody>' +
                                '<table>' +
                                '</div>' +
                                '</div>' +
                                '</div>' +
                                '</div>');

                        });

                        $("#count").hide();
                        $("#text").hide();
                        $("#text_time").hide();
                        $("#btnSold").hide();

                        setTimeout(location.reload.bind(location), 10000);
                        //window.location.href = "/BiddingProcess/Bidding/";
                    }
                }


            $('#btnNext').trigger('click');
            //$(document).on("click", "#btnNext", function () {

            $("#btnNext").click(function () {
                id = $("#bidding_id").html();
                id++;

                $("#bidding_id").empty();
                $("#bidding_id").append(id);
                $("#btnStartBidding").show();
                $(".TimeOut").empty();
                $("#btnSold").hide();

                ajax_call();
            });

        function ajax_call() {

                var bid_id = $("#bidding_id").html();

                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: '@Url.Action("GetPlayersForBidding")',
                    data:
                    {
                        id: bid_id
                    },
                    //traditional: true,
                    success: function (player) {

                        $.each(player.data, function (k, v) {
                            //bid_id = v.bidding_id;
                            //bid_id += 1;
                            var age = v.Age;
                            if (age == 0 || age < 0) {
                                age = 18;
                            }
                            //alert(v.bidding_id);
                            $("#bidding_id").empty();
                            $("#bidding_id").append(bid_id);

                            $('.playerName').empty();
                            $('.playerCountry').empty();
                            $('.playerAge').empty();
                            $('.batStyle').empty();
                            $('.bowlSkill').empty();
                            $('.base_price').empty();
                            $('.player_img').attr('src', '~/Content/images/default-user-image.png');

                            var $rateYo = $(".rate_bat").rateYo();
                            $rateYo.rateYo("destroy");
                            var $rateYob = $(".rate_bowl").rateYo();
                            $rateYob.rateYo("destroy");



                            $('.playerName').append(v.name);
                            $('.playerCountry').append(v.country_name);
                            $('.playerAge').append(age + '  ' + 'years');
                            $('.batStyle').append(v.batting_style);
                            $(".rate_bat").rateYo({ starWidth: "15px", rating: v.batting_star });
                            $('.bowlSkill').append(v.bowling_skill);
                            $(".rate_bowl").rateYo({ starWidth: "15px", rating: v.bowling_star });
                            $('.base_price').append(v.base_price);
                            $('.player_img').attr('src', v.image);
                        });

                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                        return false;
                    }
                })

            };

            function ajax_call_populate_teams() {
                @*$.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: '@Url.Action("PopulateTeamsForBidding")',
                    success: function (teams) {
                        $.each(teams.data, function (k, v) {
                            $("#divTeamName").append('<div class="col-lg-3 col-md-6 col-sm-12" style="width:auto;">' +
                                '<div class = "card" id = "card_id_' + (k + 1) + '">' +
                                    '<div class="card-content">' +
                                        '<div class="contentpanel" align="center">' +
                                            '<table class="table-responsive" width="100%" style="border:none;">' +
                                                '<tbody class="border:none;">' +
                                                '<tr>' +
                                                    '<th>' + 'Team Name' + '</th>' +
                                                '</tr>' +
                                                '<tr>' +
                                                    '<td>' + v.team_name + '</td>' +
                                                '</tr>' +
                                                '<input type="text" id="txtBid_'+(k+1)+'">' +
                                                '</tbody>' +
                                            '<table>' +
                                        '</div>' +
                                        '</div>' +
                                    '</div>' +
                                '</div>');
                        });
                    },

                    error: function (ex) {
                        //alertify.error("Purchase price cannot be lesser than player's base price");
                        return false;
                    }
                })*@
            }


        $(document).ready(function () {

            $('.svg-hexagonal-counter').css('bottom', '100px');
            $('.svg-hexagonal-counter').css('left', '200px');

            $("#btnSold").hide();
            $("#count").hide();
            $("#text").hide();
            $("#text_time").hide();
                var original = @ViewBag.bid_id;
                ajax_call();
                ajax_call_populate_teams();

                $("#btnStartBidding").click(function () {
                    $("#btnNext").hide();
                    $("#btnPrevious").hide();
                    $("#text").show();
                    $("#text_time").show();
                    $("#count").show();
                    $("#btnStartBidding").hide();
                    startTimer();
                });

                //Button Sold Click
                $("#btnSold").click(function () {
                    $("#biddingModal").modal('show');
                });

                $(document).on("click", "#btnPrevious", function () {
                    $("#btnStartBidding").hide();
                    $("#btnSold").hide();
                var decr = $("#bidding_id").html();
                decr -= 1;
                $("#bidding_id").empty();
                $("#bidding_id").append(decr);

                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: '@Url.Action("GetPlayersForBidding")',
                    data:
                    {
                        id: decr
                    },
                    //traditional: true,
                    success: function (player) {

                        $.each(player.data, function (k, v) {
                            decr = v.bidding_id;
                            //decr -= 1;
                            //$("#bidding_id").empty();
                            //$("#bidding_id").append(decr);

                            $('.playerName').empty();
                            $('.playerCountry').empty();
                            $('.playerAge').empty();
                            $('.batStyle').empty();
                            $('.bowlSkill').empty();
                            $('.base_price').empty();
                            var $rateYo = $(".rate_bat").rateYo();
                            $rateYo.rateYo("destroy");
                            var $rateYob = $(".rate_bowl").rateYo();
                            $rateYob.rateYo("destroy");

                            $('.playerName').append(v.name);
                            $('.playerCountry').append(v.country_name);
                            $('.playerAge').append(v.Age + '  ' +'years');
                            $('.batStyle').append(v.batting_style);
                            $(".rate_bat").rateYo({ starWidth: "15px", rating: v.batting_star });
                            $('.bowlSkill').append(v.bowling_skill);
                            $(".rate_bowl").rateYo({ starWidth: "15px", rating: v.bowling_star });
                            $('.base_price').append(v.base_price);
                        });

                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                        return false;
                    }
            })
            });

            });
        </script>


    </div>

    <!--Get selected team balance-->
    <script type="text/javascript">
        //team and opponent dropdown
        $(document).ready(function () {

            //toss winner dropdown
            $("#drpTeam").change(function () {
                $(".team_avail_bal").empty();

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("getTeamBalance")',
                    dataType: 'json',
                    data:
                    {
                        id: $("#drpTeam").val()
                    },

                    success: function (team) {

                        $.each(team.data, function (i, t) {

                            var total = t.total_budget;
                            var spent = t.budget_spent;
                            var remain = total - spent;
                            var formatted = remain.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                            $(".team_avail_bal").append('Remaning funds   ' + formatted);
                        });

                    },
                    error: function (ex) {
                        alertify.alert("Could not fetch team's remaining balance, try again after sometime");
                        return false;
                    }
                })

            });
        });
    </script>
</body>

</html>

