﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Homepage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .team-info {
            width: 100%;
            height: 300px;
            /* background-image: url("~/Content/Images/Delhi_Daredevils.jpg");*/
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">

            </div>
            <ul class="nav navbar-nav">
                <li><a href="#">Overview</a></li>
                <li><a href="#">Schedule</a></li>
                <li><a href="#">Squad</a></li>
                <li><a href="#">Team Name</a></li>
                <li><a href="#">Bidding</a></li>
                <li><a href="#">News</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Profile <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Settings</a></li>
                        <li><a href="#">Logout</a></li>

                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="col-sm-12">
            <div class="team-info">


                <div class="col-md-6">
                    <h2 style="text-align:center;margin:20px;">Delhi DareDevils</h2><br>
                    Owner <b>GMR Sports Pvt Ltd </b> &nbsp;&nbsp;Coach <b>Paddy Upton</b>
                    <br><br>
                    Venue <b>Feroz Shah Kotla Ground</b>&nbsp;&nbsp; Captain <b>Zaheer Khan</b>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>

    <hr>
    <div class="col-sm-12" style="text-align:center;">Copyright IPL 2017 All Rights Reserved</div>
    <div class="col-sm-12" style="text-align:center;">Terms And Conditions Privacy Policy</div>

</body>

</html>
