﻿
@{
    ViewBag.Title = "Selection";
    Layout = "~/Views/Shared/_LayoutGentelella.cshtml";
}
<style>
    .player {
        display: none;
    }
</style>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Players Selection</title>

    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.2/css/select.dataTables.min.css" />
    <link rel="stylesheet" href="https://editor.datatables.net/extensions/Editor/css/editor.dataTables.min.css" />
    <link href="~/Content/DataTables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Scripts/alertify.js-0.3.11/themes/alertify.core.css" rel="stylesheet" />
    <link href="~/Scripts/alertify.js-0.3.11/themes/alertify.default.css" rel="stylesheet" />


</head>
<body>
    <!-- page content -->

    <div class="right_col" role="main">

        <div class="page-title">
            <div class="title_left">
                <h3>Select players for bidding</h3>
                <div class="alert alert-info alert-dismissable fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Hint!</strong> CTRL + click to select multiple players
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
        <script src="https://cdn.datatables.net/select/1.2.2/js/dataTables.select.min.js"></script>
        <script src="~/Scripts/alertify.js-0.3.11/src/alertify.js"></script>

        <button type="submit" class="btn btn-round btn-success" id="btn" style="margin-bottom:20px; margin-top:20px; float:right;">Finalize Players</button>
        <table id="myDatatable" class="table table-striped table-bordered" cellspacing="0">

            <thead>
                <tr>
                    <th>Season Year</th>
                    <th>Player Name</th>
                    <th>Date Of Birth</th>
                    <th>Batting Style</th>
                    <th>Bowling Style</th>
                    <th>Country</th>
                    <th>ID</th>
                    <th>ID</th>
                </tr>
            </thead>

        </table>
    </div>

    <script>

        $(document).ready(function () {

            var oTable = $('#myDatatable').DataTable({
                "searching": false,

                "ajax": {
                    "url": '/SelectPlayers/GetPlayers',
                    "type": "get",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "season", "name": "season_year", "autoWidth": true
                    },
                    { "data": "player_name", "name": "player_name", "autoWidth": true, "searchable": true },
                    {
                        "data": "player_dob", "name": "player_dob", "autoWidth": true,
                        "render": function (jsonDate) {
                            var date = new Date(parseInt(jsonDate.substr(6)));
                            var month = date.getMonth() + 1;
                            return date.getDate() + "/" + month + "/" + date.getFullYear();
                        }
                    },
                    { "data": "batting_id", "name": "batting_style", "autoWidth": true },
                    { "data": "bowling_id", "name": "bowling_skill", "autoWidth": true },
                    { "data": "country_name", "name": "country", "autoWidth": true, "searchable": true },
                    {
                        "data": "player_id", "name": "player_id", "autoWidth": true, "className": "player"
                    },
                    {
                        "data": "SeasonID", "name": "season_id", "autoWidth": true, "className": "player"
                    },
                ],
                'select': true,

                "columnDefs": [{
                    "targets": [0, 1, 2, 3, 4],
                    "orderable": false
                }]

            });

            $('#myDatatable tbody').on('click', 'tr', function () {

                $(this).toggleClass('selected');
            });

            $("#btn").click(function () {
                //alert(oTable.rows('.selected').data().length + 'row(s) selected');
                getData();
            });

            function getData() {
                var data = oTable.rows({ selected: true }).data();
                //alert(data[0].SeasonID);
                var player_ids = [];
                for (var i = 0; i < data.length; i++) {
                    player_ids.push(data[i].player_id);
                }

                $.ajax({
                    type: 'post',
                    cache: false,
                    data: { id: player_ids },
                    url: "/SelectPlayers/Finalize/",
                    traditional: true,
                    success: function (data) {

                        if (data == false) {
                            alertify.error("Select player(s) for bidding!");
                            oTable.ajax.reload();
                        }
                        else {
                            alertify.success("Players added for bidding");
                            window.location.href = "/SelectPlayers/Selection/";
                        }
                    },
                    error: function (data) {
                        alertify.error("Some error occurred, try again after sometime!");
                        oTable.ajax.reload();
                    }
                });
            }
        });

    </script>
  
</body>

</html>
