﻿
@{
    ViewBag.Title = "ViewPlayer";
     Layout = "~/Views/Shared/_LayoutGentelella.cshtml";
}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Player Details</title>
    <link href="~/Content/DataTables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="~/Scripts/alertify.js-0.3.11/themes/alertify.core.css" rel="stylesheet" />
    <link href="~/Scripts/alertify.js-0.3.11/themes/alertify.default.css" rel="stylesheet" />

    <style>
        .error {
            color: red;
        }

        .dataTables_wrapper {
            color: black;
            font-size: 13px;
        }
        .player {
            font-size: 0;
            display: none;
        }
        .playerImage{
            width:100px;
        }
    </style>
</head>
<body>
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Player Details</h3>
                </div>
            </div>

            <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
            <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
            <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/r-2.2.0/datatables.min.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="~/Scripts/alertify.js-0.3.11/src/alertify.js"></script>

            <div class="tablecontainer" style="width:100%; margin: 0 auto;">
                <table id="myDatatable" class="table table-striped table-bordered display nowrap" cellspacing="0" width="100%">

                    <thead>
                        <tr>
                            <th>Display Picture</th>
                            <th>Player Name</th>
                            <th>Date Of Birth</th>
                            <th>Batting Style</th>
                            <th>Bowling Style</th>
                            <th>Country</th>
                            <th>Active</th>
                            <th></th>
                            <th>Change Status</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
    <!-- / Page Content-->

    <script>

        $(document).ready(function () {
            var bootstrapButton = $.fn.button.noConflict() // return $.fn.button to previously assigned value
            $.fn.bootstrapBtn = bootstrapButton            // give $().bootstrapBtn the Bootstrap functionality

            var oTable = $('#myDatatable').DataTable({

                responsive: true,

                "ajax": {
                    "url": '@Url.Action("GetPlayers")',
                    "type": "get",
                    "datatype": "json"
                },
                "columns": [

                    {
                        "data": "player_image", "name": "player_name", "autoWidth": true,

                       "render": function (data) {
                           return '<img src="' + data + '" class="playerImage" />';
                       }
                    },

                    { "data": "player_name", "name": "player_name", "autoWidth": true, "searchable": true },

                    {
                        "data": "player_dob", "name": "player_dob", "autoWidth": true,
                        "render": function (jsonDate) {
                            var date = new Date(parseInt(jsonDate.substr(6)));
                            var month = date.getMonth() + 1;
                            return date.getDate() + "/" + month + "/" + date.getFullYear();
                        }
                    },
                    { "data": "batting_id", "name": "batting_style", "autoWidth": true },
                    { "data": "bowling_id", "name": "bowling_skill", "autoWidth": true },
                    { "data": "country_name", "name": "country", "autoWidth": true, "searchable": true },
                    {
                        "data": "active", "name": "active", "autoWidth": true, "searchable": true,
                        "render": function (data, row) {
                            return '<input type="checkbox" class ="active" name="playerStatus" value="' + data + '">'
                        }
                    },

                    {
                        "data": "player_id", "name": "player_id", "autoWidth": true, "className": "player"
                    },
                    {
                         "render": function (data) {
                            return '<button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-edit"></span>  Save</button>'
                           },
                    }

                ],
                rowCallback: function (row, data) {

                    $('input.active', row).prop('checked', (data.active == true) ? true : false);
                },
                /*"columnDefs": [
                    {
                        "targets": [6],
                        "visible": false,
                        "searchable": false
                    }
                ]*/
              
                "columnDefs": [{
                    "targets": [0 , 1 , 5 , 6 , 7],
                    "orderable": false
                }]

            });



            $('#myDatatable tbody').on('click', 'tr', function () {
                oTable.row(this).edit();
                $(this).toggleClass('selected');

            });


            $("#btn").click(function () {
                //alert(oTable.rows('.selected').data().length + 'row(s) selected');
                getData();
            });

            function getData() {
                var data = oTable.rows({ selected: true }).data();
                var newarray = [];
                for (var i = 0; i < data.length; i++) {
                    newarray.push(data[i].player_id);
                    //alert(JSON.stringify(newarray[i]));
                   // alert(newarray);
                    @*alert(@TempData["team_id"]);*@
                }

                $.ajax({
                    type: 'GET',
                    cache: false,
                    data: { id: newarray },
                    url: '@Url.Action("Finalize")',
                    traditional: true,
                    success: function (data) {
                        alertify.success("Success");
                    },
                    error: function (data) {
                        alertify.error("Some error occurred");
                    }
                });
            }

            //Active status change
            $('#myDatatable').on('click', 'button', function () {

                var cells = $(this).closest("tr").children("td");

                var id = cells.eq(7).text();
                var isActive = cells.find('input[name="playerStatus"]').is(':checked');
                $.ajax({
                    url: '@Url.Action("PlayerUpdate")',
                    type: 'POST',
                    data: {
                        pID: id,
                        status: isActive
                    },
                    success: function (data) {
                        alertify.success("Player status changed successfully");
                    },
                    error: function (data) {
                        alertify.error("Unable to change player status");
                    }
                });

            });

        });
    </script>

</body>

</html>
