﻿@model IPLAuction.Models.match_master



<div class="form-group">
    <label>Match Schedule</label>
    @Html.TextBoxFor(a => a.match_date, new { @class = "form-control", @readonly = "readonly" })
</div>

<div class="form-group">
    <label>City</label>
    @Html.TextBox("txtCity", (string)TempData["city"], new { @class = "form-control", @readonly = "readonly", @id = "txtCity" })
</div>

<div class="form-group">
    <label>Venue</label>
    @Html.TextBox("txtVenue", (string)TempData["venue"], new { @class = "form-control", @readonly = "readonly" })
</div>

<div class="form-group">
    <label>Team</label>
    @Html.TextBox("txtTeam", (string)TempData["team"], new { @class = "form-control", @readonly = "readonly", @id = "txtTeam" })
</div>

<div class="form-group">
    <label>Opponent Team</label>
    @Html.TextBox("txtOpponentTeam", (string)TempData["opponent_team"], new { @class = "form-control", @readonly = "readonly", @id = "txtOpponentTeam" })
</div>

@using (Html.BeginForm("EditMatchInfo", "MatchMaster", FormMethod.Post, new { id = "popupForm" }))
{


    if (Model != null && Model.match_id > 0)
    {


        <script type="text/javascript">
        //team and opponent dropdown
        $(document).ready(function () {

            //toss winner dropdown
            $("#toss_winner").focus(function () {
                $("#toss_winner").empty();
                $("#toss_winner").append('<option value="' + "" + '">' +
                    "--Toss Winner Team--" + '</option>');

                  $.ajax({
                    type: 'POST',
                    url: '@Url.Action("getTossWinner")',
                    dataType: 'json',
                    data:
                    {
                        id: $("#team").val(),
                        oppo: $("#opponent").val()
                    },

                    success: function (toss) {
                        $.each(toss, function (i, t) {
                            $("#toss_winner").append('<option value="' + t.Value + '">' +
                                t.Text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Select 2 teams first');
                        return false;
                    }
                })

                })

            //match winner dropdown
            $("#match_winner").focus(function () {
                $("#match_winner").empty();
                $("#match_winner").append('<option value="' + "" + '">' +
                    "--Match Winner Team--" + '</option>');

                  $.ajax({
                    type: 'POST',
                    url: '@Url.Action("getTossWinner")',
                    dataType: 'json',
                    data:
                    {
                        id: $("#team").val(),
                        oppo: $("#opponent").val()
                    },

                    success: function (toss) {
                        $.each(toss, function (i, t) {
                            $("#match_winner").append('<option value="' + t.Value + '">' +
                                t.Text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Select 2 teams first');
                        return false;
                    }
                })
            })

            //man of the match
            $("#man_of_the_match").focus(function () {

                $("#man_of_the_match").empty();
                $("#man_of_the_match").append('<option value="' + "" + '">' +
                    "--Man of the Match--" + '</option>');


                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("getPlayers")',
                    dataType: 'json',
                    data: {
                        id: $("#match_winner").val()
                    },
                    success: function (players) {
                        $.each(players, function (i, player) {
                            $("#man_of_the_match").append('<option value="' + player.Value + '">' +
                                player.Text + '</option>');

                        });
                    },
                    error: function (ex) {
                        alert('Select teams');
                    }
                })
                return false;
            });

            //umpire 2 dropdown
             $("#umpire").change(function () {

                $("#umpire2").empty();
                $("#umpire2").append('<option value="' + "" + '">' +
                    "--Select Umpire 2--" + '</option>');

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("getUmpire")',
                    dataType: 'json',
                    data: {
                        id: $("#umpire").val()
                    },
                    success: function (umpires) {
                        $.each(umpires, function (i, umpire) {
                            $("#umpire2").append('<option value="' + umpire.Value + '">' +
                                umpire.Text + '</option>');

                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                    }
                })
                return false;
            });
    });

        </script>


      

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Toss Winner<span class="required">*</span></label>
            <div class="col-md-4 col-sm-4 col-xs-6">
                @Html.DropDownList("toss_winner", new SelectList("", "Value", "Text"), "--Toss Winner Team--", new { @class = "select2_single form-control", @required = "required", @name = "toss_winner" })
                @Html.ValidationMessage("Select toss winner team", new { @class = "error" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Toss Decision<span class="required">*</span></label>
            <div class="col-md-4 col-sm-4 col-xs-6">
                @Html.DropDownListFor(a => a.toss_decision,
                       new List<SelectListItem>
                       {
                           new SelectListItem{Text="Bat", Value="Bat"},
                           new SelectListItem{Text="Field", Value="Field"},
                       }, "--Select Toss decision--", new { @class = "select2_single form-control", @name = "drpTossDecision", @required = "required" })
                @Html.ValidationMessageFor(a => a.toss_decision, "", new { @class = "error" })
            </div>
        </div>


                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Match Winner<span class="required">*</span></label>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.DropDownList("match_winner", new SelectList("", "Value", "Text"), "--Match Winner Team--", new { @class = "select2_single form-control", @required = "required", @name="match_winner" })
                        @Html.ValidationMessage("Select match winner team", new { @class = "error" })
                    </div>
                </div>

                @*<div class="form-group">
                    @Html.LabelFor(a => a.IS_Superover, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.RadioButtonFor(a => a.IS_Superover, true, new { @class = "flat" })
                        <label for="yes">Yes</label>
                        @Html.RadioButtonFor(a => a.IS_Superover, false, new { @class = "flat", @checked = "checked" })
                        <label for="No">No</label><br />
                        @Html.ValidationMessageFor(a => a.IS_Superover, "", new { @class = "error" })
                    </div>
                </div>*@

                <div class="form-group">
                    @Html.LabelFor(a => a.IS_Result, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.RadioButtonFor(a => a.IS_Result, false, new { @class = "flat" })
                        <label for="Draw">Draw</label>
                        @Html.RadioButtonFor(a => a.IS_Result, true, new { @class = "flat", @checked = "checked" })
                        <label for="Won">Won</label><br />
                        @Html.ValidationMessageFor(a => a.IS_Result, "", new { @class = "error" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Win Type<span class="required">*</span></label>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.DropDownListFor(a => a.win_type,
                       new List<SelectListItem>
                       {
                           new SelectListItem{Text="By Wickets", Value="By Wickets"},
                           new SelectListItem{Text="By runs", Value="By runs"},


                       }, "--Select Win Type--", new { @class = "select2_single form-control", @id = "drpWintype", @required = "required" })
                        @Html.ValidationMessageFor(a => a.win_type, "", new { @class = "error" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(a => a.won_by, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.TextBoxFor(a => a.won_by, new { @class = "form-control", @required = "required", @autocomplete = "off", @id = "txtwonby", @name = "txtwonby" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Man of the Match<span class="required">*</span></label>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.DropDownList("man_of_the_match", new SelectList("", "Value", "Text"), "--Man of the Match--", new { @class = "select2_single form-control", @required = "required", @name = "man_of_the_match" })
                        @Html.ValidationMessage("Select man of the match", new { @class = "error" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">First Umpire<span class="required">*</span></label>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.DropDownListFor(a => a.first_umpire_id, TempData["umpire"] as List<SelectListItem>, "", new { @class = "form-control", @id = "umpire" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Umpire 2<span class="required">*</span></label>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.DropDownList("umpire2", new SelectList("", "Value", "Text"), "--Select Umpire 2--", new { @class = "select2_single form-control", @required = "required", @name = "umpire2" })
                        @Html.ValidationMessage("Select umpire 2", new { @class = "error" })
                    </div>
                </div>
                <br>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button type="reset" class="btn btn-primary">Cancel</button>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>

                @Html.HiddenFor(a => a.match_id)
                @Html.HiddenFor(a => a.team_id, new { id = "team" })
                @Html.HiddenFor(a => a.opponent_team_id, new { id = "opponent" })

        <script type="text/javascript">
    $(document).on('click', '.btn-success', function () {
        var win = $('#drpWintype').val();
            var won = $('#txtwonby').val();
            if (win == "By Wickets")
                    if(won < 1 || won > 10)
                            {
                                alertify.error("Invalid Won By Value!");
                                return false;
                            }
    });
        </script>
    }
}