﻿@model IPLAuction.Models.Validation.match_masterMetaType
@{
    ViewBag.Title = "AddMatches";
    Layout = "~/Views/Shared/_LayoutGentelella.cshtml";
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Edit Match Details</title>
    @*<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />*@
    <link href="~/Content/DataTables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link href="~/Scripts/alertify.js-0.3.11/themes/alertify.core.css" rel="stylesheet" />
    <link href="~/Scripts/alertify.js-0.3.11/themes/alertify.default.css" rel="stylesheet" />
</head>
<body>
    <style>
        .error {
            color: red;
        }
        .dataTables_wrapper {
            color: black;
            font-size: 13px;
        }
        .dataTables_scrollBody {
            overflow-x: hidden !important;
            overflow-y: auto !important;
        }
    </style>
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">

            <div class="page-title">
                <div class="title_left">
                    <h3>Edit Match Info</h3><br><br>
                </div>
            </div>

            <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
            <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
            <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/r-2.2.0/datatables.min.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="~/Scripts/alertify.js-0.3.11/src/alertify.js"></script>


            <div class="tablecontainer" style="width:98%; margin: 0 auto;">
                <table id="myDatatable" class="table table-striped table-bordered display nowrap" cellspacing="0" width="90%">
                    <thead>
                        <tr>
                            <th>Match Date</th>
                            <th>City</th>
                            <th>Venue</th>
                            <th>Team</th>
                            <th>Opponent Team</th>
                            <th>Toss Winner</th>
                            <th>Toss Decision</th>
                            @*<th>Is_Superover</th>*@
                            <th>Is_Result</th>
                            <th>Win Type</th>
                            <th>Won By</th>
                            <th>Match Winner</th>
                            <th>Man oT Match</th>
                            <th>First Umpire</th>
                            <th>Second Umpire</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <!-- / Page Content-->

            <script>

        $(document).ready(function () {

            var bootstrapButton = $.fn.button.noConflict() // return $.fn.button to previously assigned value
            $.fn.bootstrapBtn = bootstrapButton            // give $().bootstrapBtn the Bootstrap functionality

            var oTable = $('#myDatatable').DataTable({
                responsive: true,
              
                "ajax": {
                    "processing": true,
                    "url": '@Url.Action("GetMatches")',
                    "type": "GET",
                    "datatype": "json"
                },

                "columns": [

                    {
                        "data": "match_date", "name": "match_date", "autoWidth": true, "searchable": true,
                        "render": function (jsonDate) {
                            var date = new Date(parseInt(jsonDate.substr(6)));
                            var month = date.getMonth() + 1;
                            //var time = date.toLocaleTimeString();
                            return date.getDate() + "/" + month + "/" + date.getFullYear();
                        }

                    },

                    { "data": "city_name", "name": "city_name", "autoWidth": true },

                    { "data": "venue_name", "name": "venue_name", "autoWidth": true },

                    { "data": "team", "name": "team_name", "autoWidth": true },

                    { "data": "opponent", "name": "team_name", "autoWidth": true },

                    { "data": "toss_winner", "name": "team_name", "autoWidth": true },

                    { "data": "toss_decision", "name": "toss_decision", "autoWidth": true },

                    //{ "data": "Is_superover", "name": "IS_Superover", "autoWidth": false },

                    { "data": "Is_result", "name": "IS_Result", "autoWidth": true },

                    { "data": "win_type", "name": "win_type", "autoWidth": true },

                    { "data": "won_by", "name": "won_by", "autoWidth": true },

                    { "data": "match_winner", "name": "team_name", "autoWidth": true },

                    { "data": "man_of_the_match", "name": "player_name", "autoWidth": true },

                    { "data": "first_umpire", "name": "umpire_name", "autoWidth": true },

                    { "data": "second_umpire", "name": "umpire_name", "autoWidth": true },

                    {

                        "data": "match_id", "width": "50px", "render": function (data) {
                            return '<a class="popup" href="/MatchMaster/EditMatchInfo/' + data + '"><span class="glyphicon glyphicon-edit"></a>';
                        }
                    },
                   
                ],

                "columnDefs": [{
                    "targets": [1,2,3,4,5,6,7,8,9,10,11,12,13,14],
                    "orderable": false
                }],

            });

            $('.tablecontainer').on('click', 'a.popup', function (e) {

                e.preventDefault();
                OpenPopup($(this).attr('href'));
            })

            function OpenPopup(pageUrl) {
                var $pageContent = $('<div/>');
                $pageContent.load(pageUrl, function () {
                    $('#popupForm', $pageContent).removeData('validator');
                    $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');
                });

                $dialog = $('<div class = "popupWindow" style="overflow:auto;"></div>')
                    .html($pageContent)
                    .dialog({
                        draggable: false,
                        autoOpen: false,
                        resizable: false,
                        model: true,
                        title: 'Edit Match Info',
                        height: 650,
                        width: 800,
                        close: function () {
                            $dialog.dialog('destroy').remove();
                        }
                    })

                $('.popupWindow').on('submit', '#popupForm', function (e) {
                    var url = $('#popupForm')[0].action;
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $('#popupForm').serialize(),
                        success: function (data) {
                                 $dialog.dialog('close');
                                oTable.ajax.reload();
                                alertify.success("Updated Successfully");
                        }
                    })
                    e.preventDefault();
                })
                $dialog.dialog('open');
            }
        });
            </script>
        </div>
    </div>
</body>
</html>