﻿@model IPLAuction.Models.match_master
@{
    ViewBag.Title = "NewMatch";
    Layout = "~/Views/Shared/_LayoutGentelella.cshtml";
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>New Match</title>
   
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.1/jquery-ui-sliderAccess.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.1/jquery-ui-timepicker-addon.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.1/jquery-ui-timepicker-addon.js"></script>
    
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


</head>
<body>
    <script type="text/javascript">
        //team and opponent dropdown
        $(document).ready(function () {

            $("#team").change(function () {

                $("#opponent").empty();
                $("#opponent").append('<option value="' + "" + '">' +
                    "--Select Opponent team--" + '</option>');

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("getOpponent")',
                    dataType: 'json',
                    data: { id: $("#team").val() },
                    success: function (opponents) {
                        $.each(opponents, function (i, opponent) {
                            $("#opponent").append('<option value="' + opponent.Value + '">' +
                                opponent.Text + '</option>');

                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                        return false;
                    }
                })
                //return false;
            });

           
            //city dropdown
            $("#city").change(function () {

                $("#venue").empty();
                $("#venue").append('<option value="' + "" + '">' +
                    "--Select Venue--" + '</option>');

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("getVenue")',
                    dataType: 'json',
                    data: { id: $("#city").val() },
                    success: function (venues) {
                        $.each(venues, function (i, venue) {
                            $("#venue").append('<option value="' + venue.Value + '">' +
                                venue.Text + '</option>');

                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                    }
                })
                return false;
            });
 
    });

    </script>
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">

            <div class="page-title">
                <div class="title_left">
                    <h3>New Match</h3><br><br>
                   
                </div>
            </div>

            @using (Html.BeginForm("NewMatch", "MatchMaster",
                                              FormMethod.Post,
                                               new { @class = "form-horizontal form-label-left", style = "margin-right:200px; margin-top:60px;" }))

            {

                <br><br><br>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Match Date<span class="required">*</span></label>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        @Html.TextBoxFor(a => a.match_date, new { @class = "form-control datepicker", placeholder = "", id = "matchDate", @required = "required", @autoComplete = "off" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Team<span class="required">*</span></label>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.DropDownListFor(a => a.team_id, ViewBag.team as List<SelectListItem>, "--Select Team--", new { @class = "select2_single form-control", @id = "team", @required = "required" })
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Opponent Team<span class="required">*</span></label>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.DropDownList("opponent", new SelectList("", "Value", "Text"), "", new { @class = "select2_single form-control", @id = "opponent", @data_val = "true", @data_val_required = "Select opponent team", @required = "required" })
                        @Html.ValidationMessageFor(a => a.opponent_team_id, "", new { @class = "error" })

                    </div>
                </div>

              
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Select City<span class="required">*</span></label>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.DropDownListFor(a => a.city_id, ViewBag.cities as List<SelectListItem>, "--Select City--", new { @class = "select2_single form-control", @id = "city", @required = "required" })
                        @Html.ValidationMessageFor(a => a.city_id, "", new { @class = "error" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Select Venue<span class="required">*</span></label>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.DropDownList("venue", new SelectList("", "Value", "Text"), "--Select Venue--", new { @class = "select2_single form-control", @required = "required" })
                        @Html.ValidationMessage("Select venue", new { @class = "error" })
                    </div>
                </div>

                
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button type="reset" class="btn btn-primary">Cancel</button>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>

            }

            @if (ViewBag.Success == false)
            {
                <div class="alert alert-error alert-dismissable fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Error!</strong> Fill in the required fields!
                </div>
            }

            @if (ViewBag.Added == true)
            {
                <div class="alert alert-info alert-dismissable fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success!</strong> Match details was added successfully!
                </div>
            }

            @if (ViewBag.Added == false)
            {
                <div class="alert alert-error alert-dismissable fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Error!</strong> Match details is not valid!
                </div>
            }
        </div>
    </div>
    <!--/Page Content-->
    <script type="text/javascript">
        $(function () { // will trigger when the document is ready
            $('#matchDate').datepicker({
                dateFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true,
                minDate: 0,
                yearRange: "2017:2017",
               // timeFormat: 'HH:mm tt z'
            }); //Initialise any date pickers
        });
    </script>

</body>
</html>



