﻿@model IPLAuction.Models.match_master
<h2>Edit Match Details</h2>
@using (Html.BeginForm("Save", "MatchMaster", FormMethod.Post, new { id = "popupForm" }))
{
    <script type="text/javascript">
        //team and opponent dropdown
        $(document).ready(function () {

            $("#team").change(function () {

                $("#opponent").empty();
                $("#opponent").append('<option value="' + "" + '">' +
                    "--Select Opponent team--" + '</option>');

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("getOpponent")',
                    dataType: 'json',
                    data: { id: $("#team").val() },
                    success: function (opponents) {
                        $.each(opponents, function (i, opponent) {
                            $("#opponent").append('<option value="' + opponent.Value + '">' +
                                opponent.Text + '</option>');

                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                        return false;
                    }
                })
                //return false;
            });

            //toss winner dropdown
            $("#toss_winner").focus(function () {
                $("#toss_winner").empty();
                $("#toss_winner").append('<option value="' + "" + '">' +
                    "--Toss Winner Team--" + '</option>');


                //if ($("#team")[0].selectedOptions[0].text != "--Select Team--") {
                //    $("#toss_winner").append('<option value="' + $("#team")[0].selectedOptions[0].val + '">' + $("#team")[0].selectedOptions[0].text + '</option>');
                //}
                //if ($("#opponent")[0].selectedOptions[0].text != "--Select Opponent team--") {
                //    $("#toss_winner").append('<option value="' + $("#opponent")[0].selectedOptions[0].val + '">' + $("#opponent")[0].selectedOptions[0].text + '</option>');
                //}

              $.ajax({
                    type: 'POST',
                    url: '@Url.Action("getTossWinner")',
                    dataType: 'json',
                    data:
                    {
                        id: $("#team").val(),
                        oppo: $("#opponent").val()
                    },

                    success: function (toss) {
                        $.each(toss, function (i, t) {
                            $("#toss_winner").append('<option value="' + t.Value + '">' +
                                t.Text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Select 2 teams first');
                        return false;
                    }
                })

                })

            //match winner dropdown
            $("#match_winner").focus(function () {
                $("#match_winner").empty();
                $("#match_winner").append('<option value="' + "" + '">' +
                    "--Match Winner Team--" + '</option>');

                //if ($("#team")[0].selectedOptions[0].text != "--Select Team--")
                //    $("#match_winner").append('<option value="' + $("#team")[0].selectedOptions[0].val + '">' + $("#team")[0].selectedOptions[0].text + '</option>');

                //if ($("#opponent")[0].selectedOptions[0].text != "--Select Opponent team--")
                //    $("#match_winner").append('<option value="' + $("#opponent")[0].selectedOptions[0].val + '">' + $("#opponent")[0].selectedOptions[0].text + '</option>');

                  $.ajax({
                    type: 'POST',
                    url: '@Url.Action("getTossWinner")',
                    dataType: 'json',
                    data:
                    {
                        id: $("#team").val(),
                        oppo: $("#opponent").val()
                    },

                    success: function (toss) {
                        $.each(toss, function (i, t) {
                            $("#match_winner").append('<option value="' + t.Value + '">' +
                                t.Text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Select 2 teams first');
                        return false;
                    }
                })
            })


            //city dropdown
            $("#city").change(function () {

                $("#venue").empty();
                $("#venue").append('<option value="' + "" + '">' +
                    "--Select Venue--" + '</option>');

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("getVenue")',
                    dataType: 'json',
                    data: { id: $("#city").val() },
                    success: function (venues) {
                        $.each(venues, function (i, venue) {
                            $("#venue").append('<option value="' + venue.Value + '">' +
                                venue.Text + '</option>');

                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                    }
                })
                return false;
            });

            //man of the match
            $("#man_of_the_match").focus(function () {

                $("#man_of_the_match").empty();
                $("#man_of_the_match").append('<option value="' + "" + '">' +
                    "--Man of the Match--" + '</option>');


                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("getPlayers")',
                    dataType: 'json',
                    data: { id: $("#team").val(), id2: $("#opponent").val() },
                    success: function (players) {
                        $.each(players, function (i, player) {
                            $("#man_of_the_match").append('<option value="' + player.Value + '">' +
                                player.Text + '</option>');

                        });
                    },
                    error: function (ex) {
                        alert('Select teams');
                        return false;
                    }
                })
                return false;
            });

            //umpire 2 dropdown
             $("#umpire").change(function () {

                $("#umpire2").empty();
                $("#umpire2").append('<option value="' + "" + '">' +
                    "--Select Umpire 2--" + '</option>');

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("getUmpire")',
                    dataType: 'json',
                    data: { id: $("#umpire").val() },
                    success: function (umpires) {
                        $.each(umpires, function (i, umpire) {
                            $("#umpire2").append('<option value="' + umpire.Value + '">' +
                                umpire.Text + '</option>');

                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                    }
                })
                return false;
            });
    });

    </script>
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="" style="height:-1024px;">

            <div class="page-title">
                <div class="title_left">
                    <h3>Edit Match Info</h3><br><br>
                    @if (ViewBag.Validate == false)
                    {
                        <div class="alert alert-error alert-dismissable fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>Error!</strong> Won by value should be between 1-10!
                        </div>
                    }

                    @if (ViewBag.Success == false)
                    {
                        <div class="alert alert-error alert-dismissable fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>Error!</strong> Fill in the required fields!
                        </div>
                    }

                    @if (ViewBag.Added == true)
                    {
                        <div class="alert alert-info alert-dismissable fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>Success!</strong> Match details was added successfully!
                        </div>
                    }
                </div>
            </div>

            @Html.HiddenFor(a => a.match_id)
           
                <br><br><br><br>
                <div class="form-group">
                    @Html.LabelFor(a => a.match_date, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        @Html.TextBoxFor(a => a.match_date, new { @class = "form-control datepicker", placeholder = "Match Date..", id = "matchDate", @required = "required" })
                        @Html.ValidationMessageFor(a => a.match_date, "", new { @class = "error" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(a => a.team_id, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.DropDownListFor(a => a.team_id, ViewBag.team as List<SelectListItem>, "--Select Team--", new { @class = "select2_single form-control", @id = "team", @required = "required" })
                        @Html.ValidationMessageFor(a => a.team_id, "", new { @class = "error" })
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Opponent Team<span class="required">*</span></label>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.DropDownList("opponent", new SelectList("", "Value", "Text"), "", new { @class = "select2_single form-control", @id = "opponent", @data_val = "true", @data_val_required = "Select opponent team", @required = "required" })
                        @Html.ValidationMessageFor(a => a.opponent_team_id, "", new { @class = "error" })

                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Toss Winner<span class="required">*</span></label>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.DropDownList("toss_winner", new SelectList("", "Value", "Text"), "--Toss Winner Team--", new { @class = "select2_single form-control", @required = "required", @name = "toss_winner" })
                        @Html.ValidationMessage("Select toss winner team", new { @class = "error" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Toss Decision<span class="required">*</span></label>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.DropDownListFor(a => a.toss_decision,
                       new List<SelectListItem>
                       {
                           new SelectListItem{Text="Bat", Value="Bat"},
                           new SelectListItem{Text="Field", Value="Field"},


                       }, "--Select Toss decision--", new { @class = "select2_single form-control", @name = "drpTossDecision", @required = "required" })
                        @Html.ValidationMessageFor(a => a.toss_decision, "", new { @class = "error" })
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Match Winner<span class="required">*</span></label>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.DropDownList("match_winner", new SelectList("", "Value", "Text"), "--Match Winner Team--", new { @class = "select2_single form-control", @required = "required" })
                        @Html.ValidationMessage("Select match winner team", new { @class = "error" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(a => a.IS_Superover, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.RadioButtonFor(a => a.IS_Superover, true, new { @class = "flat" })
                        <label for="yes">Yes</label>

                        @Html.RadioButtonFor(a => a.IS_Superover, false, new { @class = "flat", @checked = "checked" })
                        <label for="No">No</label><br />
                        @Html.ValidationMessageFor(a => a.IS_Superover, "", new { @class = "error" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(a => a.IS_Result, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.RadioButtonFor(a => a.IS_Result, false, new { @class = "flat" })
                        <label for="Draw">Draw</label>

                        @Html.RadioButtonFor(a => a.IS_Result, true, new { @class = "flat", @checked = "checked" })
                        <label for="Won">Won</label><br />
                        @Html.ValidationMessageFor(a => a.IS_Result, "", new { @class = "error" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Win Type<span class="required">*</span></label>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.DropDownListFor(a => a.win_type,
                       new List<SelectListItem>
                       {
                           new SelectListItem{Text="By Wickets", Value="By Wickets"},
                           new SelectListItem{Text="By runs", Value="By runs"},


                       }, "--Select Win Type--", new { @class = "select2_single form-control", @name = "drpWintype", @required = "required" })
                        @Html.ValidationMessageFor(a => a.win_type, "", new { @class = "error" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(a => a.won_by, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        @Html.TextBoxFor(a => a.won_by, new { @class = "form-control", id = "wonbyID", @required = "required", @autocomplete = "off" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Man of the Match<span class="required">*</span></label>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.DropDownList("man_of_the_match", new SelectList("", "Value", "Text"), "--Man of the Match--", new { @class = "select2_single form-control", @required = "required" })
                        @Html.ValidationMessage("Select man of the match", new { @class = "error" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(a => a.city_id, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.DropDownListFor(a => a.city_id, ViewBag.cities as List<SelectListItem>, "--Select City--", new { @class = "select2_single form-control", @id = "city", @required = "required" })
                        @Html.ValidationMessageFor(a => a.city_id, "", new { @class = "error" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Select Venue<span class="required">*</span></label>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.DropDownList("venue", new SelectList("", "Value", "Text"), "--Select Venue--", new { @class = "select2_single form-control", @required = "required" })
                        @Html.ValidationMessage("Select venue", new { @class = "error" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(a => a.first_umpire_id, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.DropDownListFor(a => a.first_umpire_id, ViewBag.umpire as List<SelectListItem>, "--Select Umpire 1--", new { @class = "select2_single form-control", @id = "umpire", @required = "required" })
                        @Html.ValidationMessageFor(a => a.first_umpire_id, "", new { @class = "error" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Umpire 2<span class="required">*</span></label>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.DropDownList("umpire2", new SelectList("", "Value", "Text"), "--Select Umpire 2--", new { @class = "select2_single form-control", @required = "required" })
                        @Html.ValidationMessage("Select umpire 2", new { @class = "error" })
                    </div>
                </div>

                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button type="reset" class="btn btn-primary">Cancel</button>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>

         


        </div>
    </div>
    <!--/Page Content-->
    <script type="text/javascript">
        $(function () { // will trigger when the document is ready
            $('#matchDate').datepicker({
                dateFormat: 'dd-mm-yy',
                changeMonth: true,
                changeYear: true,
                yearRange: "2017:2017"
            }); //Initialise any date pickers
        });
    </script>
}

