﻿
@{
    ViewBag.Title = "TeamView";
     Layout = "~/Views/Shared/_LayoutGentelella.cshtml";
}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Teams Detail</title>
    <link href="~/Content/DataTables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="~/Scripts/alertify.js-0.3.11/themes/alertify.core.css" rel="stylesheet" />
    <link href="~/Scripts/alertify.js-0.3.11/themes/alertify.default.css" rel="stylesheet" />
</head>
<body>
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Team Details</h3>

                </div>
            </div>
            <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
            <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
            <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/r-2.2.0/datatables.min.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="~/Scripts/alertify.js-0.3.11/src/alertify.js"></script>

            <div class="tablecontainer" style="width:100%; margin: 0 auto;">
                <table id="myDatatable" class="table table-striped table-bordered display nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Team Name</th>
                            <th>Short Name</th>
                            <th>Founded On</th>
                            <th>Coach Name</th>
                            <th>Team Captain</th>
                            <th>Owner Name</th>
                            <th>Homecity</th>
                            <th>Homeground</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <!-- / Page Content-->

    <script>

        $(document).ready(function () {

            var bootstrapButton = $.fn.button.noConflict() // return $.fn.button to previously assigned value
            $.fn.bootstrapBtn = bootstrapButton            // give $().bootstrapBtn the Bootstrap functionality

            var oTable = $('#myDatatable').DataTable({

                responsive: true,

                "ajax": {
                    "url": '@Url.Action("GetActiveTeams")',
                    "type": "get",
                    "datatype": "json"
                },

                "columns": [

                    { "data": "team_name", "name": "team_name", "autoWidth": true, "searchable": true },

                    { "data": "team_short_code", "name": "team_short_code", "autoWidth": true },

                    {
                        "data": "team_founded", "name": "team_founded", "autoWidth": true,
                        "render": function (jsonDate) {
                            var date = new Date(parseInt(jsonDate.substr(6)));
                            var month = date.getMonth() + 1;
                            return date.getDate() + "/" + month + "/" + date.getFullYear();
                        } //end of render
                    },

                    { "data": "coach_id", "name": "coach_name", "autoWidth": true },

                    { "data": "player_id", "name": "player_name", "autoWidth": true },

                    { "data": "owner_id", "name": "user_name", "autoWidth": true },

                    { "data": "city_id", "name": "city_name", "autoWidth": true },

                    { "data": "venue_id", "name": "venue_name", "autoWidth": true, "searchable": true },

                    {

                        "data": "team_id", "width": "50px", "render": function (data) {
                            return '<a class="popup" href="/TeamView/Save/' + data + '">Edit</a>';
                        }
                    },

                ],
                "columnDefs": [
                    //{
                    //    "targets": [0],
                    //    "visible": false
                    //},
                    {
                        "targets": [1, 2, 3, 4, 5, 6, 7],
                        "orderable": false
                    }
                ]
                //"select": true

            });

            $('.tablecontainer').on('click', 'a.popup', function (e) {

                e.preventDefault();
                OpenPopup($(this).attr('href'));
            })
            function OpenPopup(pageUrl) {
                var $pageContent = $('<div/>');
                $pageContent.load(pageUrl, function () {
                    $('#popupForm', $pageContent).removeData('validator');
                    $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');
                });

                $dialog = $('<div class = "popupWindow" style="overflow:auto;"></div>')
                    .html($pageContent)
                    .dialog({
                        draggable: false,
                        autoOpen: false,
                        resizable: false,
                        model: true,
                        title: 'Team Details',
                        height: 550,
                        width: 600,
                        close: function () {
                            $dialog.dialog('destroy').remove();
                        }
                    })

                $('.popupWindow').on('submit', '#popupForm', function (e) {
                    var url = $('#popupForm')[0].action;
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $('#popupForm').serialize(),
                        success: function (data) {
                            if (data.success) {
                                $dialog.dialog('close');
                                oTable.ajax.reload();
                                alert("Updated successfully!")
                            }
                        }
                    })
                    e.preventDefault();
                })
                $dialog.dialog('open');
            }
        });
    </script>


</body>

</html>