﻿@model IPLAuction.Models.Validation.season_masterMetaData
@{
    ViewBag.Title = "AddSeason";
     Layout = "~/Views/Shared/_LayoutGentelella.cshtml";
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Add New Season</title>
    <link href="~/Content/css/icheck/flat/green.css" rel="stylesheet">
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

    <link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />
    <style>
        .error {
            color: #ef5350;
        }
    </style>

</head>
<body>
    <style>
        .error {
            color: red;
        }
    </style>
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">

            <div class="page-title">
                <div class="title_left">
                    <h3>New Season</h3>
                </div>
            </div>


            @using (Html.BeginForm("AddSeason", "SeasonMaster",
                            FormMethod.Post,
                             new { @class = "form-horizontal form-label-left", style = "margin-right:200px; margin-top:60px;" }))

            {
                <div class="form-group">
                    @Html.LabelFor(a => a.season_year, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.DropDownListFor(a => a.season_year,
                            new List<SelectListItem>
                            {
                                               new SelectListItem{Text="2017", Value="2017"},
                                                new SelectListItem{Text="2018", Value="2018"},
                                                 new SelectListItem{Text="2019", Value="2019"},
                                                  new SelectListItem{Text="2019", Value="2020"}


                            }, "--Select Season Year--", new { @class = "select2_single form-control", @name = "drpSeasonYear", @required = "required" })
                        @Html.ValidationMessageFor(a => a.season_year, "", new { @class = "error" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(a => a.country_id, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.DropDownListFor(a => a.country_id, ViewBag.host_country as List<SelectListItem>, "--Select Host Country--", new { @class = "select2_single form-control", @id = "host_country", @required = "required" })
                        @Html.ValidationMessageFor(a => a.country_id, "", new { @class = "error" })
                    </div>
                </div>

                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button type="submit" class="btn btn-primary">Cancel</button>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>

            }

            @if (ViewBag.Validate == false)
            {
                <div class="alert alert-error alert-dismissable fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Error!</strong> Entered Season already exists!
                </div>
            }

            @if (ViewBag.Added == true)
            {
                <div class="alert alert-info alert-dismissable fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success!</strong> Season was added successfully!
                </div>
            }

            @if (ViewBag.Success == false)
            {
                <div class="alert alert-error alert-dismissable fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Error!</strong> Fill in the required details!
                </div>
            }
        </div>
    </div>
    <!-- / Page Content-->

</body>
</html>
