﻿@model IPLAuction.Models.season_master

@{
    ViewBag.Title = "EditNewSeason";
    Layout = "~/Views/Shared/_LayoutGentelella.cshtml";
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Edit Season</title>
    <link href="~/Content/css/icheck/flat/green.css" rel="stylesheet">
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

    <link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />
    <style>
        .error {
            color: #ef5350;
        }
    </style>
</head>
<body>
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">

            <div class="page-title">
                <div class="title_left">
                    <h3>Edit Season</h3><br>

                </div>
            </div>

           @using (Html.BeginForm("EditNewSeason", "SeasonMaster",
                 FormMethod.Post,
                  new { enctype = "multipart/form-data", @class = "form-horizontal form-label-left", style = "margin-right:200px; margin-top:60px;" }))

           {

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Season Year<span class="required">*</span></label>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.TextBox("txtYear", (Int16)TempData["year"], new { @class = "form-control", @readonly = "readonly", @id = "txtYear" })
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Host Country<span class="required">*</span></label>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.TextBox("txtCountry", (string)TempData["host_country"], new { @class = "form-control", @readonly = "readonly", @id = "txtCountry" })
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Purple Cap Holder<span class="required">*</span></label>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.DropDownListFor(a => a.purple_cap_player_id, TempData["all_players"] as List<SelectListItem>, "--Select Purple Cap Holder--", new { @class = "form-control", @id = "purplePlayer"})
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Orange Cap Holder<span class="required">*</span></label>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @Html.DropDownListFor(a => a.orange_cap_player_id, TempData["all_players"] as List<SelectListItem>, "--Select Orange Cap Holder--", new { @class = "form-control", @id = "orangePlayer" })
                    </div>
                </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Man of the Series<span class="required">*</span></label>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            @Html.DropDownListFor(a => a.man_series_player_id, TempData["all_players"] as List<SelectListItem>, "--Select Man of the Series--", new { @class = "form-control", @id = "seriesPlayer" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Sixes Count<span class="required">*</span></label>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            @Html.TextBoxFor(a => a.sixes_count, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Catches Count<span class="required">*</span></label>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            @Html.TextBoxFor(a => a.catches_count, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button type="reset" class="btn btn-primary">Cancel</button>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>

            }
            @if (ViewBag.Success == false)
            {
                <div class="alert alert-error alert-dismissable fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Error!</strong> Fill in the required fields!
                </div>
            }

            @if (ViewBag.Success == true)
            {
                <div class="alert alert-success alert-dismissable fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success!</strong> Season updated succesfully!
                </div>
            }
        </div>
    </div>


</body>
</html>